		<ion-view view-title="Blog" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<h1 class="title white-text font14">Blog</h1>
				</div>
				
				<div class="max-width">
					<div class="row blog-feed">
						<div class="col">
							<div class="space60"></div>
							<div class="list card">
	
								<div class="item item-body" ng-repeat="item in feed" ng-click="goPost(event,item.link)">
			  						<div ng-if="item.thumb.length">
			  							<img class="full-image" src="{{item.thumb}}">
			  						</div>
			  						<div ng-if="!item.thumb.length">
				  						<img class="full-image" src="http://incorruptible.mx/wp-content/uploads/2016/05/IN_frente.png">
			  						</div>
			  						<p class="avenir-heavy black-text font20">{{item.title}}</p>
			  						<p class="avenir-book french-gray-text uppercase"><i class="fa fa-calendar monsoon-text" aria-hidden="true"></i> {{formatDate(item.pubDate) | date:'MMMM dd, yyyy'}}</p>
			  						<p ng-if="item.description.length" class="avenir-book monsoon-text">
			  							{{item.description}}
			    					</p>
			  					</div>
		
							</div>
							<div class="space100"></div>
							
						</div>
					</div>
				</div>
				
			</ion-content>
			
			<div class="action centered">
				<button class="button icon ion-plus damask white-text" ng-click="newComplaint()"></button>
			</div>
			
			<div class="tabs">
				<a class="tab-item acapulco-text" ng-click="goLastComplaints($event)">
					<span class="avenir-heavy font14">Últimas denuncias</span>
				</a>
				<a class="tab-item acapulco-text" ng-click="goRankingComplaints($event)">
				    <span class="avenir-heavy font14">Ranking denuncias</span>
				</a>
			</div>
			
		</ion-view>