		<ion-view view-title="Notificaciones" hide-nav-bar="false" class="notifications">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<h1 class="title white-text font14">Mis Notificaciones</h1>
				</div>
				
				<div class="max-width">
					<div class="row notifications-feed">
						<div class="col">			
							<div class="space40"></div>		
							<div class="item" ng-repeat="item in notifications track by $index">
								<div class="row" ng-click="seeDetails(item.view,item.identifier,item.idnotification);">
									<div class="col col-10 centered">
										<i ng-if="item.read == 0" class="fa fa-circle red-text" aria-hidden="true"></i>
									</div>
									<div class="col col-10 centered">
										<i ng-if="item.source == 'Admin'" class="fa fa-thumbs-o-up fa-2x damask-text" aria-hidden="true"></i>
										<i ng-if="item.source == 'ONG'" class="fa fa-building-o fa-2x damask-text" aria-hidden="true"></i>
										<i ng-if="item.source == 'AUTORIDAD'" class="fa fa-shield fa-2x damask-text" aria-hidden="true"></i>
								    	<i ng-if="item.source == 'Incorruptible'" class="fa fa-mobile fa-2x damask-text" aria-hidden="true"></i>
							    	</div>
									<div class="col col-80">
										<span class="avenir-book white acapulco-text block wordwrap message">{{item.message}}</span>
										<span class="avenir-book white damask-text block wordwrap right timeago">{{item.timeago}}</span>
									</div>
									<div class="pin right-align">
										<i class="fa fa-chevron-right fa-2x damask-text" aria-hidden="true"></i>
									</div>
								</div>
				            </div>
				            <div ng-if="notifications.length == 0" class="padding-1rem">
					            <span class="avenir-book white acapulco-text block wordwrap message">No hay notificaciones registradas aún.</span>
				            </div>
						</div>
					</div>
				</div>
				
			</ion-content>
			
		</ion-view>