<ion-modal-view class="modal-map-filters">
	<ion-header-bar>
   		<button class="button button-clear button-primary white-text" ng-click="modal.hide()">
   			<i class="icon ion-close-round"></i>
   		</button>
    </ion-header-bar>
    <ion-content>
    	<div class="row">
	    	<div class="col">
		    	<div class="centered">
			    	<br />
			    	<span class="avenir-medium block white-text font14">SELECCIONA</span>
			    	<br />
			    	<div class="button-bar">
						<a class="button acapulco white-text avenir-medium" id="btn_month" ng-click="selectTime('month');">ÚLTIMO MES</a>
						<a class="button acapulco white-text avenir-medium active" id="btn_year" ng-click="selectTime('year');">ÚLTIMO AÑO</a>
					</div>
		    	</div>
	    	</div>
    	</div>
    	<hr/>
    	<div class="row">
	    	<div class="col">
		    	<div class="centered">
			    	<span class="avenir-medium block white-text font14">CATEGORIA O ACTO</span>
			    	<br />
			    	<label class="item item-input item-select">
			    		<select class="avenir-medium" ng-model="filters.category">
				    		<option ng-repeat="item in map_categories" value="{{item.idcategory}}">{{ item.name }}</option>
    					</select>
			    	</label>
		    	</div>
	    	</div>
    	</div>
    	<hr/>
    	<div class="row">
	    	<div class="col">
		    	<div class="centered">
			    	<span class="avenir-medium block white-text font14">POR MONTO</span>
			    	<br />
			    	<label class="item item-input item-select">
			    		<select class="avenir-medium" ng-model="filters.amount">
				    		<option ng-repeat="item in map_amounts" value="{{item.idamount}}">{{ item.value }}</option>
    					</select>
			    	</label>
		    	</div>
	    	</div>
    	</div>
    	<hr/>
    	<div class="row">
	    	<div class="col">
		    	<div class="centered">
			    	<span class="avenir-medium block white-text font14">TIPO</span>
			    	<br />
			    	<label class="item item-input item-select">
			    		<select class="avenir-medium" ng-model="filters.type">
				    		<option ng-repeat="item in map_types" value="{{item.idtype}}">{{ item.name }}</option>
    					</select>
			    	</label>
		    	</div>
	    	</div>
    	</div>
    	<!--
    	<hr/>
    	<div class="row">
	    	<div class="col">
		    	<div class="centered">
			    	<span class="avenir-medium block white-text font14">POPULARIDAD</span>
			    	<br />
			    	<label class="item item-input item-select">
			    		<select class="avenir-medium">
							<option>Blue</option>
							<option selected>Green</option>
							<option>Red</option>
    					</select>
			    	</label>
		    	</div>
	    	</div>
    	</div>
    	-->
    	<div class="row">
	    	<div class="col">
		    	<button class="button button-full damask white-text avenir-medium" ng-click="setFilters(filters,map,modal);">
					FILTRAR <i class="icon ion-android-funnel"></i>
				</button>
				<div class="space100"></div>
	    	</div>
    	</div>
    </ion-content>
    <!--<div class="actions">
				
		<div class="tabs damask">
			<a class="tab-item white-text" ng-click="login($event)">
				<span class="avenir-book font14">VER TODAS</span>
			</a>
			<a class="tab-item white-text" ng-click="register($event)">
			    <span class="avenir-book font14">BORRAR FILTROS</span>
			</a>
		</div>
		
	</div>-->
</ion-modal-view>