<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' gap://ready file://* *; script-src 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *">
		<title>Incorruptible</title>

		<link rel="manifest" href="manifest.json">

	    <!-- un-comment this code to enable service worker
	    <script>
	      if ('serviceWorker' in navigator) {
	        navigator.serviceWorker.register('service-worker.js')
	          .then(() => console.log('service worker installed'))
	          .catch(err => console.log('Error', err));
	      }
	    </script>-->
	    
	    <link rel="icon" href="img/cropped-INCORRUPTIBLE_FAVICON-1-32x32.png" sizes="32x32">
	    <link rel="icon" href="img/cropped-INCORRUPTIBLE_FAVICON-1-192x192.png" sizes="192x192">
	    <link rel="apple-touch-icon-precomposed" href="img/cropped-INCORRUPTIBLE_FAVICON-1-180x180.png">
	    <meta name="msapplication-TileImage" content="img/cropped-INCORRUPTIBLE_FAVICON-1-270x270.png">
	    
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdONyfCadeDvw20F1Q03eJj80WnGmCZ4g&libraries=places&language=mx&region=MX"></script>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/hello.all.min.js"></script>
		<script src="js/sha.js"></script>
		<link href="css/style.css" rel="stylesheet">
		
		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
	    <link href="css/ionic.app.css" rel="stylesheet">
	    -->

	    <!-- ionic/angularjs js -->
	    <script src="lib/lodash/dist/lodash.min.js"></script>
	    <script src="lib/ionic/js/ionic.bundle.js"></script>
	    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
	    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
	    <script src="lib/angulartics/dist/angulartics.min.js"></script>
		<script src="lib/angulartics-google-tag-manager/dist/angulartics-google-tag-manager.min.js"></script>
	    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
	    <script src="js/angular-locale_es-mx.min.js"></script>
	    <script src="lib/angular-timeago/dist/angular-timeago-core.min.js"></script>
		<script src="lib/angular-timeago/src/languages/time-ago-language-es_LA.js"></script>
	
	    <!-- cordova script (this will be a 404 during development) -->
	    <script src="cordova.js"></script>
	    <script src="js/ng-cordova-oauth.min.js"></script>
	    <script src="js/ion-place-autocomplete.js"></script>
	    <link href="css/ion-place-autocomplete.css" rel="stylesheet">
		<script src="js/openfb.js"></script>
		<script src="js/ngopenfb.js"></script>
		<script src="js/ng-map.min.js"></script>
		
		<!-- your app's js -->
	    <script src="js/app.js"></script>
	    <script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		
	</head>
	<body ng-app="inc" class="platform-ios" disable-tap ng-cloak ng-class="{ 'is-keyboard-open': showTabs }">
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99925236-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-99925236-2');
		</script>
		
    	<ion-side-menus>
  			
  			<ion-side-menu class="sidemenu" side="left">
		  		<ion-content>
		  			<ul class="list user">
				        <li class="item avenir-book acapulco">
				        	<div class="space20"></div>
				        	<div class="btn-complaint" ng-click="toggleLeft($event)">
								<i class="fa fa-times fa-lg white-text" aria-hidden="true"></i>
							</div>
			        		<div class="image">
					        	<img class="avatar" ng-src="{{ avatar }}">
				        	</div>
			        	    <div class="data">
				        	    <span class="name avenir-book white-text block bold font12" ng-model="name">{{ name }}</span>
								<span class="email avenir-book white-text block font12" ng-model="email">{{ email }}</span>
								<div ng-show="menuUser">
									<span class="iduser avenir-book white-text block font12" ng-model="iduser">No. de perfil: <span class="damask-text bold">{{ iduser }}</span></span>
									<span class="profile avenir-light black-text block font12" ng-model="profile" ng-click="gotoProfile($event)">Editar perfil</span>
								</div>
					        </div>
					        <div ng-show="menuUser">
						        <div class="row" ng-if="twid && !fbid">
							        <span class="twitter avenir-book white-text font12">&nbsp;&nbsp;&nbsp;Autentificado con Twitter</span>
						        </div>
						        <div class="row" ng-if="fbid && !twid">
							        <span class="twitter avenir-book white-text font12">&nbsp;&nbsp;&nbsp;Autentificado con Facebook</span>
						        </div>
						         <div class="row" ng-show="fbid && twid">
							        <span class="twitter avenir-book white-text font12">&nbsp;&nbsp;&nbsp;Autentificado con Twitter y Facebook</span>
						        </div>
					        </div>
					        <div ng-show="!menuUser">
						       	<div class="row">
							        <span class="profile avenir-book white-text font12">&nbsp;&nbsp;&nbsp;Perfil: <b>{{ profile }}</b></span>
						        </div>
					        </div>
				        </li>
			  		</ul>
			  		<div class="block damask">
				  		<span class="white-text avenir-black font12">&nbsp;&nbsp;&nbsp;&nbsp;MENÚ</span>
			  		</div>
			  		<div ng-show="session.idprofile == 1">
				  		<ul class="list menu">
					  		<li class="item no-transform avenir-book damask-text" ng-click="goDashboard($event)">
						    	<i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Inicio
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goBlog($event)">
						    	<i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;&nbsp;Blog
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goNews($event)">
						    	<i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;Noticias
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goMyComplaints($event)">
						    	<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;Mis Denuncias
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goMyNotifications($event)">
						    	<i class="fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;Mis Notificaciones
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goLogout($event)">
						    	<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar Sesión
						    </li>
						</ul>
						<div class="block activity">
					  		<span class="white-text avenir-black font12">&nbsp;&nbsp;&nbsp;&nbsp;MI ACTIVIDAD</span>
				  		</div>
				  		<div class="space10"></div>
				  		<div class="row">
					  		<div class="col-80">
						  		<span class="avenir-book font12 badge" data-badge="{{noComplaints}}">
						  			&nbsp;Denuncias
						  		</span>
					  		</div>
				  		</div>
				  		<div class="row">
					  		<div class="col-80">
						  		<span class="avenir-book font12 badge" data-badge="{{noFollows}}">
						  			&nbsp;Seguidos
						  		</span>
					  		</div>
				  		</div>
			  		</div>
			  		<div ng-show="session.idprofile == 2">
				  		<ul ng-show="ong" class="list menu">
					  		<li class="item no-transform avenir-book damask-text" ng-click="goDashboard($event)">
						    	<i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Inicio
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goNewComplaints($event)">
						    	<i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;&nbsp;Lista de Denuncias Nuevas
						    </li>
					  		<li class="item no-transform avenir-book damask-text" ng-click="goComplaintGroups($event)">
						    	<i class="fa fa-shield" aria-hidden="true"></i>&nbsp;&nbsp;Grupos de Denuncias
						    </li>
				  			<li class="item no-transform avenir-book damask-text" ng-click="goComplaintGroupNew($event)">
						    	<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Crear nuevo grupo
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goLogout($event)">
						    	<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar Sesión
						    </li>
				  		</ul>
			  		</div>
			  		<div ng-show="session.idprofile == 3">
				  		<ul ng-show="ong" class="list menu">
					  		<li class="item no-transform avenir-book damask-text" ng-click="goDashboard($event)">
						    	<i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Inicio
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goGroupsDependency($event)">
						    	<i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;Grupos Atendidos
						    </li>
					  		<li class="item no-transform avenir-book damask-text" ng-click="goComplaintsDependency($event)">
						    	<i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;&nbsp;Denuncias Atendidas
						    </li>
				  			<li class="item no-transform avenir-book damask-text" ng-click="goComplaintGroupDependency($event)">
						    	<i class="fa fa-shield" aria-hidden="true"></i>&nbsp;&nbsp;Atender Grupos de denuncias
						    </li>
						    <li class="item no-transform avenir-book damask-text" ng-click="goLogout($event)">
						    	<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar Sesión
						    </li>
				  		</ul>
			  		</div>
		  		</ion-content>
		  	</ion-side-menu>

  			<ion-side-menu-content>
  				
  				<ion-nav-bar class="bar-inc">
  				
  					<ion-nav-buttons side="primary">
  						<button class="button" ng-click="toggleLeft()">
					       <i class="icon ion-navicon-round"></i>
					    </button>
  					</ion-nav-buttons>
  					
  					<ion-nav-buttons side="secondary">
  					</ion-nav-buttons>
  					
  				</ion-nav-bar>
  				
  				<ion-nav-view></ion-nav-view>
  				
  			</ion-side-menu-content>

  		</ion-side-menus>
	
	</body>
</html>