		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="login">

			<ion-content class="login-content padding-1rem" scroll="false">
				
				<div class="list list-inset forgot">
					<div class="row">
						<div class="col">
							<span class="block avenir-book font14 white-text centered">Te enviaremos por correo electrónico instrucciones sobre cómo restablecer tu contraseña.</span>
						</div>
					</div>
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.4 12.7"><title>msj</title><path d="M17,0H.4A.4.4,0,0,0,0,.4V12.3a.4.4,0,0,0,.4.4H17a.4.4,0,0,0,.4-.4V.4A.4.4,0,0,0,17,0Zm-.4,10.9L11.7,6l-.6.6,5.3,5.3H1L6.3,6.6,5.7,6,.8,10.9V.8H16.6Z"/><path d="M15.8.8,8.7,7.9,1.6.8H.8v.3L8.4,8.7a.4.4,0,0,0,.6,0l7.6-7.6V.8Z"/></svg>
			    		</i>
						<input type="text" id="inputEmailRegister" name="inputEmailRegister" ng-model="forgot.email" my-enter="doForgot(forgot)" autocomplete="off" class="avenir-book font14" placeholder="Correo Electrónico">
					</label>
					<button class="button button-full button-positive damask white-text avenir-book font14" ng-click="doForgot(forgot)">ENVIAR</i></button>
				</div>
			
			</ion-content>
			
			<div class="actions">
				
				<div class="tabs damask showTabs">
					<a class="tab-item white-text" ng-click="goWelcome($event)">
						<span class="avenir-book font14">REGRESAR</span>
					</a>
				</div>
				
			</div>
							
		</ion-view>