		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="login">

			<ion-content class="login-content padding-1rem" fullscreen="true" scroll="false">

				<div class="row">
					<div class="col centered">
						<div class="space20"></div>
						<img src="img/logo.svg" />
					</div>
				</div>
				<div class="row">
					<div class="col-50">
						<button class="button button-full button-positive tropaz" ng-click="facebookLogin(event)"><i class="fa fa-facebook" aria-hidden="true"></i></button>
					</div>
					<div class="col-50">
						<button class="button button-full button-positive picton" ng-click="twitterLogin(event);"><i class="fa fa-twitter" aria-hidden="true"></i></button>
					</div>
				</div>
				<div class="list list-inset">
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.383 15.934"><title>users</title><path d="M16.084,12.762l-2.832-1.226a.571.571,0,0,1-.2-.224l1.89,0a3.332,3.332,0,0,0,1.437-.193.862.862,0,0,0,.36-1.284,9.586,9.586,0,0,1-1.841-4.815c0-.035-.115-3.5-3.537-3.529a4.058,4.058,0,0,0-1.394.248,2.39,2.39,0,0,0-.431-.714A3.646,3.646,0,0,0,6.663,0a3.646,3.646,0,0,0-2.87,1.023,2.6,2.6,0,0,0-.606,1.891v1.54a1.158,1.158,0,0,0-.29.761V6.373a1.152,1.152,0,0,0,.433.9,6.066,6.066,0,0,0,1.016,2.1v.959a.765.765,0,0,1-.4.672l-2.584,1.41A2.611,2.611,0,0,0,0,14.706v1.228H17.383v-1.07A2.337,2.337,0,0,0,16.084,12.762Zm-3.337,2.593H.579v-.648A2.035,2.035,0,0,1,1.639,12.92l2.585-1.41a1.344,1.344,0,0,0,.7-1.181V9.165l-.068-.081a5.467,5.467,0,0,1-.988-2.047l-.026-.115-.1-.062a.577.577,0,0,1-.268-.485V5.214a.571.571,0,0,1,.193-.427l.1-.086V2.9l0-.037A2.021,2.021,0,0,1,4.228,1.4,3.117,3.117,0,0,1,6.663.579a3.12,3.12,0,0,1,2.43.819,1.881,1.881,0,0,1,.419.831c0,.02.009.04.013.061s.009.04.012.06.007.045.01.066.005.03.007.045c0,.036.008.072.01.1v.007c0,.032,0,.062,0,.089v.014c0,.024,0,.047,0,.068V2.75c0,.068-.006.108-.006.108l0,1.843.095.086a.569.569,0,0,1,.194.427v1.16a.574.574,0,0,1-.412.549l-.144.045-.047.144a6.056,6.056,0,0,1-.821,1.655,3.858,3.858,0,0,1-.242.313l-.072.082v1.2a1.3,1.3,0,0,0,.018.216l.01.045a1.353,1.353,0,0,0,.045.171c0,.013.009.024.014.038a1.236,1.236,0,0,0,.08.175l.01.021a1.346,1.346,0,0,0,.146.209l.065.081h.011a1.347,1.347,0,0,0,.343.248l2.767,1.384a2.022,2.022,0,0,1,1.125,1.818Zm4.056,0H13.326v-.593a2.6,2.6,0,0,0-1.444-2.337l-1.987-.993a.5.5,0,0,0-.459-.7H8.793a.651.651,0,0,1-.033-.074.9.9,0,0,1-.041-.1.773.773,0,0,1-.028-.2V9.377C8.758,9.3,8.827,9.2,8.9,9.1a6.631,6.631,0,0,0,.855-1.681,1.147,1.147,0,0,0,.674-1.047V5.214a1.158,1.158,0,0,0-.29-.761V2.914a2.608,2.608,0,0,0-.024-.621,3.472,3.472,0,0,1,1.243-.226,2.946,2.946,0,0,1,2.958,2.962,10.19,10.19,0,0,0,1.945,5.137.28.28,0,0,1,.041.239.27.27,0,0,1-.155.178,2.854,2.854,0,0,1-1.181.149H12.972a.534.534,0,0,0-.479.77,1.211,1.211,0,0,0,.514.559l2.824,1.223a1.76,1.76,0,0,1,.972,1.58Z"/></svg>
			    		</i>
						<input type="text" id="inputNameLogin" name="inputNameLogin" my-enter="doLogin(login)" ng-model="login.name" autocomplete="off" class="avenir-book font14" autocomplete="off" placeholder="Nombre de usuario o correo electrónico">
					</label>
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.841 16.092"><title>pass</title><path d="M10.4,0A5.443,5.443,0,0,0,5.316,7.369l-5.2,5.2A.394.394,0,0,0,0,12.85V15.7a.4.4,0,0,0,.4.4H2.742a.4.4,0,0,0,.28-.116l.79-.789a.4.4,0,0,0,.117-.28v-.971H4.9a.4.4,0,0,0,.4-.4V13.15h.389a.4.4,0,0,0,.4-.4V11.9h.853a.4.4,0,0,0,.28-.116l1.261-1.261A5.439,5.439,0,1,0,10.4,0Zm0,10.085A4.6,4.6,0,0,1,8.538,9.7a.4.4,0,0,0-.436.079l0,0L6.767,11.109H5.682a.4.4,0,0,0-.4.4v.854H4.9a.4.4,0,0,0-.4.4v.388H3.532a.4.4,0,0,0-.4.4v1.2l-.558.558H.793v-.561L5.637,9.895a.357.357,0,0,0-.5-.5L.793,13.73v-.716l5.27-5.27,0,0a.4.4,0,0,0,.08-.436,4.6,4.6,0,0,1-.39-1.864A4.646,4.646,0,1,1,10.4,10.085Z"/></svg>
			    		</i>
						<input type="password" id="inputPasswordLogin" name="inputPasswordLogin" my-enter="doLogin(login)" ng-model="login.password" autocomplete="off" class="avenir-book font14" autocomplete="off" placeholder="Contraseña">
					</label>
					<button id="btnLogin" class="button button-full button-positive damask white-text avenir-book font14" ng-click="doLogin(login)">INICIAR SESIÓN</i></button>
				</div>
				<div class="row">
					<div class="col centered">
						<button class="button button-clear button-positive avenir-book font14 white-text" ng-click="forgot($event)">¿Olvidaste tu contraseña?</button>
					</div>
				</div>
				
			</ion-content>
			
			<div class="actions">
			
				<div class="tabs damask showTabs">
					<a class="tab-item white-text" ng-click="register($event)">
						<span class="avenir-book font14">REGISTRO</span>
					</a>
				</div>
				
			</div>
			
		</ion-view>
		