		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="register">

			<ion-content class="register-content padding-1rem" scroll="false">

				<div class="row">
					<div class="col centered">
						<div class="space20"></div>
						<img src="img/logo.svg" />
					</div>
				</div>
				<div class="row">
					<div class="col-50">
						<button class="button button-full button-positive tropaz" ng-click="facebookLogin(event)"><i class="fa fa-facebook" aria-hidden="true"></i></button>
					</div>
					<div class="col-50">
						<button class="button button-full button-positive picton" ng-click="twitterLogin(event)"><i class="fa fa-twitter" aria-hidden="true"></i></button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="block avenir-book font14 white-text centered">o por medio de una cuenta de email</span>
					</div>
				</div>
				<div class="list list-inset">
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.4 12.7"><title>msj</title><path d="M17,0H.4A.4.4,0,0,0,0,.4V12.3a.4.4,0,0,0,.4.4H17a.4.4,0,0,0,.4-.4V.4A.4.4,0,0,0,17,0Zm-.4,10.9L11.7,6l-.6.6,5.3,5.3H1L6.3,6.6,5.7,6,.8,10.9V.8H16.6Z"/><path d="M15.8.8,8.7,7.9,1.6.8H.8v.3L8.4,8.7a.4.4,0,0,0,.6,0l7.6-7.6V.8Z"/></svg>
			    		</i>
						<input type="text" id="inputEmailRegister" name="inputEmailRegister" ng-model="register.email" my-enter="doRegister(register)" autocomplete="off" class="avenir-book font14" placeholder="Correo Electrónico">
					</label>
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.383 15.934"><title>users</title><path d="M16.084,12.762l-2.832-1.226a.571.571,0,0,1-.2-.224l1.89,0a3.332,3.332,0,0,0,1.437-.193.862.862,0,0,0,.36-1.284,9.586,9.586,0,0,1-1.841-4.815c0-.035-.115-3.5-3.537-3.529a4.058,4.058,0,0,0-1.394.248,2.39,2.39,0,0,0-.431-.714A3.646,3.646,0,0,0,6.663,0a3.646,3.646,0,0,0-2.87,1.023,2.6,2.6,0,0,0-.606,1.891v1.54a1.158,1.158,0,0,0-.29.761V6.373a1.152,1.152,0,0,0,.433.9,6.066,6.066,0,0,0,1.016,2.1v.959a.765.765,0,0,1-.4.672l-2.584,1.41A2.611,2.611,0,0,0,0,14.706v1.228H17.383v-1.07A2.337,2.337,0,0,0,16.084,12.762Zm-3.337,2.593H.579v-.648A2.035,2.035,0,0,1,1.639,12.92l2.585-1.41a1.344,1.344,0,0,0,.7-1.181V9.165l-.068-.081a5.467,5.467,0,0,1-.988-2.047l-.026-.115-.1-.062a.577.577,0,0,1-.268-.485V5.214a.571.571,0,0,1,.193-.427l.1-.086V2.9l0-.037A2.021,2.021,0,0,1,4.228,1.4,3.117,3.117,0,0,1,6.663.579a3.12,3.12,0,0,1,2.43.819,1.881,1.881,0,0,1,.419.831c0,.02.009.04.013.061s.009.04.012.06.007.045.01.066.005.03.007.045c0,.036.008.072.01.1v.007c0,.032,0,.062,0,.089v.014c0,.024,0,.047,0,.068V2.75c0,.068-.006.108-.006.108l0,1.843.095.086a.569.569,0,0,1,.194.427v1.16a.574.574,0,0,1-.412.549l-.144.045-.047.144a6.056,6.056,0,0,1-.821,1.655,3.858,3.858,0,0,1-.242.313l-.072.082v1.2a1.3,1.3,0,0,0,.018.216l.01.045a1.353,1.353,0,0,0,.045.171c0,.013.009.024.014.038a1.236,1.236,0,0,0,.08.175l.01.021a1.346,1.346,0,0,0,.146.209l.065.081h.011a1.347,1.347,0,0,0,.343.248l2.767,1.384a2.022,2.022,0,0,1,1.125,1.818Zm4.056,0H13.326v-.593a2.6,2.6,0,0,0-1.444-2.337l-1.987-.993a.5.5,0,0,0-.459-.7H8.793a.651.651,0,0,1-.033-.074.9.9,0,0,1-.041-.1.773.773,0,0,1-.028-.2V9.377C8.758,9.3,8.827,9.2,8.9,9.1a6.631,6.631,0,0,0,.855-1.681,1.147,1.147,0,0,0,.674-1.047V5.214a1.158,1.158,0,0,0-.29-.761V2.914a2.608,2.608,0,0,0-.024-.621,3.472,3.472,0,0,1,1.243-.226,2.946,2.946,0,0,1,2.958,2.962,10.19,10.19,0,0,0,1.945,5.137.28.28,0,0,1,.041.239.27.27,0,0,1-.155.178,2.854,2.854,0,0,1-1.181.149H12.972a.534.534,0,0,0-.479.77,1.211,1.211,0,0,0,.514.559l2.824,1.223a1.76,1.76,0,0,1,.972,1.58Z"/></svg>
			    		</i>
						<input type="text" id="inputNameRegister" name="inputNameRegister" ng-model="register.name" my-enter="doRegister(register)" autocomplete="off" class="avenir-book font14" placeholder="Nombre de Usuario">
					</label>
					<label class="item item-input item-select">
						<i class="icon placeholder-icon avenir-light font14" style="line-height: 34px; color: #111 !important;">
			    			<i class="fa fa-globe" aria-hidden="true"></i> Estado
			    		</i>
			    		<select class="avenir-light" ng-model="register.state" style="background-color: transparent !important;">
				    		<option ng-selected="{{item.value == 2}}" ng-repeat="item in states" value="{{item.idstate}}">{{ item.name }}</option>
    					</select>
			    	</label>
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.841 16.092"><title>pass</title><path d="M10.4,0A5.443,5.443,0,0,0,5.316,7.369l-5.2,5.2A.394.394,0,0,0,0,12.85V15.7a.4.4,0,0,0,.4.4H2.742a.4.4,0,0,0,.28-.116l.79-.789a.4.4,0,0,0,.117-.28v-.971H4.9a.4.4,0,0,0,.4-.4V13.15h.389a.4.4,0,0,0,.4-.4V11.9h.853a.4.4,0,0,0,.28-.116l1.261-1.261A5.439,5.439,0,1,0,10.4,0Zm0,10.085A4.6,4.6,0,0,1,8.538,9.7a.4.4,0,0,0-.436.079l0,0L6.767,11.109H5.682a.4.4,0,0,0-.4.4v.854H4.9a.4.4,0,0,0-.4.4v.388H3.532a.4.4,0,0,0-.4.4v1.2l-.558.558H.793v-.561L5.637,9.895a.357.357,0,0,0-.5-.5L.793,13.73v-.716l5.27-5.27,0,0a.4.4,0,0,0,.08-.436,4.6,4.6,0,0,1-.39-1.864A4.646,4.646,0,1,1,10.4,10.085Z"/></svg>
			    		</i>
						<input type="password" id="inputPasswordRegister" name="inputPasswordRegister" ng-model="register.password" my-enter="doRegister(register)" autocomplete="off" class="avenir-book font14" placeholder="Contraseña">
					</label>
					<label class="item item-input">
			    		<i class="icon placeholder-icon">
			    			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.556 19.18"><title>jkjxz</title><path d="M10.577,7.979V3.868A3.749,3.749,0,0,0,6.97,0H5.586A3.749,3.749,0,0,0,1.978,3.868v4.11A6.564,6.564,0,0,0,0,12.7,6.39,6.39,0,0,0,6.277,19.18,6.39,6.39,0,0,0,12.556,12.7,6.567,6.567,0,0,0,10.577,7.979Zm-7.4-.918V3.868A2.552,2.552,0,0,1,5.586,1.2H6.97a2.552,2.552,0,0,1,2.408,2.67V7.061c-.163-.1-.331-.184-.5-.263a.056.056,0,0,0-.018-.01l-.073-.033-.106-.046c-.018-.009-.035-.015-.052-.022-.053-.022-.107-.044-.161-.064l0,0a6.063,6.063,0,0,0-1.757-.389l-.043,0c-.049,0-.1-.007-.148-.008l-.049,0c-.063,0-.125,0-.189,0s-.126,0-.188,0l-.048,0c-.049,0-.1,0-.148.008a.311.311,0,0,0-.043,0,6.056,6.056,0,0,0-1.756.389l0,0c-.054.021-.107.042-.16.064-.018.008-.034.014-.052.022l-.107.046L3.7,6.788a.056.056,0,0,0-.019.01C3.508,6.877,3.34,6.965,3.177,7.061Zm3.1,10.921A5.19,5.19,0,0,1,1.2,12.7,5.328,5.328,0,0,1,3.793,8.09l.073-.041c.025-.016.053-.03.079-.044.047-.025.095-.051.142-.073l.045-.024a4.932,4.932,0,0,1,1.686-.473h.016c.069-.007.139-.011.209-.015h.023c.071,0,.141,0,.211,0s.141,0,.211,0h.024c.07,0,.139.008.209.015h.015a4.924,4.924,0,0,1,1.686.473c.015.008.031.015.045.024.048.022.095.048.142.073.027.014.054.028.08.044l.072.041a5.327,5.327,0,0,1,2.6,4.607A5.191,5.191,0,0,1,6.277,17.982Z"/><path d="M8.046,11.721a1.768,1.768,0,1,0-2.977,1.292l-.424,1.9a.616.616,0,0,0-.014.13c0,.52.508.912,1.183.912h.927c.674,0,1.183-.393,1.183-.912a.591.591,0,0,0-.014-.13l-.424-1.9A1.759,1.759,0,0,0,8.046,11.721ZM5.908,14.758,6.277,13.1l.369,1.656Zm.631-2.53a.6.6,0,0,0-.262.268.6.6,0,0,0-.261-.268.569.569,0,1,1,.523,0Z"/></svg>
			    		</i>
						<input type="password" id="inputConfirmPasswordRegister" name="inputConfirmPasswordRegister" ng-model="register.confirm" my-enter="doRegister(register)" autocomplete="off" class="avenir-book font14" placeholder="Repetir contraseña">
					</label>
					<button class="button button-full button-positive damask white-text avenir-book font14" ng-click="doRegister(register)">REGISTRARSE</i></button>
				</div>
				
			</ion-content>
			
			<div class="actions">
				<div class="tabs subtab showTabs">
					<a class="tab-item white-text" ng-click="privacy($event)">
						<span class="avenir-book font14">Aviso de Privacidad</span>
					</a>
					<a class="tab-item white-text" ng-click="terms($event)">
						<span class="avenir-book font14">Términos y Condiciones</span>
					</a>
				</div>
				
				<div class="tabs damask showTabs">
					<a class="tab-item white-text" ng-click="login($event)">
						<ion-icon name="arrow-back"></ion-icon>
						<span class="avenir-book font14">INICIAR SESIÓN</span>
					</a>
				</div>
			</div>
			
		</ion-view>
		