		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="register">

			<ion-content class="register-content padding-1rem" scroll="false">

				<div class="row">
					<div class="col centered">
						<img src="img/logo.svg" />
					</div>
				</div>
				<div class="space80"></div>
				<div class="list list-inset">
					<label class="item item-input">
			    		<i class="icon ion-key placeholder-icon"></i>
						<input type="password" id="inputPasswordRegister" name="inputPasswordRegister" ng-model="reset.password" autocomplete="off" class="avenir-book font14" placeholder="Contraseña">
					</label>
					<label class="item item-input">
			    		<i class="icon ion-lock-combination placeholder-icon"></i>
						<input type="password" id="inputConfirmPasswordRegister" name="inputConfirmPasswordRegister" ng-model="reset.confirm" autocomplete="off" class="avenir-book font14" placeholder="Repetir contraseña">
					</label>
					<button class="button button-full button-positive damask white-text avenir-book font14" ng-click="doReset(reset)">RESTABLECER CONTRASEÑA</i></button>
				</div>
				
			</ion-content>
			
		</ion-view>
		