		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="register">

			<ion-content class="register-content padding-1rem" scroll="false">

				<div class="row">
					<div class="col centered">
						<img src="img/logo.svg" />
					</div>
				</div>
				<div class="space80"></div>
				<div class="list list-inset forgot">
					<div class="row">
						<div class="col">
							<span class="block avenir-book font14 white-text centered">{{msg}}</span>
						</div>
					</div>
				</div>
				<button class="button button-full button-positive damask white-text avenir-book font14" ng-click="login($event)">INICIAR SESIÓN</i></button>
				
			</ion-content>
			
		</ion-view>
		