		<ion-view view-title="Incorruptible" hide-nav-bar="true" class="welcome">

			<ion-content class="welcome-content" scroll="false">

				<div class="space160"></div>
				<div class="row">
					<div class="col-100 welcome_box">
						<div class="centered">
							<img class="padding-1rem" src="img/logo.svg" />
							<div class="space20"></div>
							<div class="padding-1rem">
								<span class="block avenir-black font15 white-text">BIENVENIDO</span>
								<span class="block avenir-book font15 white-text">Regístrate para poder hacer, registrar o unirte a seguimientos de denuncias ciudadanas</span>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
			
			<div class="actions">
				
				<div class="tabs damask">
					<a class="tab-item white-text" ng-click="login($event)">
						<span class="avenir-book font14">INICIAR SESIÓN</span>
					</a>
					<a class="tab-item white-text" ng-click="register($event)">
					    <span class="avenir-book font14">REGÍSTRATE</span>
					</a>
				</div>
				
			</div>
			
		</ion-view>