		<ion-view view-title="Noticias" hide-nav-bar="false" class="news">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<h1 class="title white-text font14">Últimas Noticias</h1>
				</div>
				
				<div class="max-width">
					<div class="row news-feed">
						<div class="col">
							<div class="space60"></div>
							<div class="card" ng-repeat="item in feed">
								<div class="item item-text-wrap">
									<span class="avenir-heavy bold-text font20">{{item.title}}</span>
								</div>
								<div class="item actions">
									<div class="button-bar white">
										<a class="button">
											<i class="fa fa-calendar monsoon-text" aria-hidden="true"></i>
											&nbsp;<span class="monsoon-text uppercase">{{formatDate(item.pubDate) | date:'MMM dd, yyyy'}}</span>
										</a>
										<a class="button damask white-text" ng-click="goPost(event,item.link)">
											<i class="fa fa-eye" aria-hidden="true"></i>
											&nbsp;VER NOTICIA
										</a>
									</div>
								</div>
							</div>
							<div class="space60"></div>
						</div>
					</div>
				</div>
				
			</ion-content>
			
			<div class="tabs">
				<a class="tab-item acapulco-text" ng-click="goLastComplaints($event)">
					<span class="avenir-heavy font14">Últimas denuncias</span>
				</a>
				<a class="tab-item acapulco-text" ng-click="goRankingComplaints($event)">
				    <span class="avenir-heavy font14">Ranking denuncias</span>
				</a>
			</div>
			
		</ion-view>