		<ion-view view-title="Noticia" hide-nav-bar="false" class="news">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<h1 class="title white-text font14">Activistas contra la impunidad</h1>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="space60"></div>
						<div class="list card">

							<div class="item item-body">
		  						<img class="full-image" src="img/demo-complaint.jpg">
		  						<p class="avenir-heavy black-text font20">
			  						<span class="avenir-heavy bold-text font20">ACTIVISTA CONTRA LA INPUNIDAD DESIGNADO PARA EL ORGANISMO ANTICORRUPCIÓN EN MÉXICO.</span>
		    					</p>
		  						<p class="avenir-book french-gray-text">
			  						<a href="#" class="subdued">
				  						<i class="fa fa-calendar monsoon-text" aria-hidden="true"></i>
				  						ENERO 20, 2017
				  					</a>
		    					</p>
		  						<p class="avenir-book black-text">La politóloga propuso un proceso transparente, participativo, con base en criterios mérito personal, capacidad profesional, liderazgo y con un enfoque plural para lograr encontrar los mejores perfiles.</p>
		  						<p class="avenir-book black-text">La experta en el tema de la corrupción, ha publicado numerosos estudios en la materia y contribuido al diseño del Sistema Nacional Anticorrupción (SNA), aprobado por el Congreso y promulgado por el presidente Enrique Peña Nieto.</p>
		  						<p class="avenir-book black-text">Lanzan la campaña #VamosPorMás contra la corrupción y la impunidad en México.</p>
		  						<p class="avenir-book black-text">La experta ocupará uno de los cuatro cargos correspondientes a organizaciones civiles para integrar la Comisión de Selección que designará al Comité de Participación Ciudadana del SNA.</p>
		  					</div>
		  					
						</div>
					</div>
				</div>
				
			</ion-content>
			
			<div class="tabs damask">
				<a class="tab-item white-text" ng-click="backNav($event)">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
					<span class="avenir-book font14">REGRESAR</span>
				</a>
				<a class="tab-item white-text" ng-click="showSocialShareActions($event)">
					<i class="fa fa-share-alt" aria-hidden="true"></i>
				    <span class="avenir-book font14">COMPARTIR</span>
				</a>
				<a class="tab-item white-text" ng-click="nextNew($event)">
				    <span class="avenir-book font14">SIGUIENTE</span>
				    <i class="fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>
			
		</ion-view>