		<ion-view view-title="Dashboard" hide-nav-bar="false" class="dashboard">
		
			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
		    <ion-nav-bar class="bar-inc">
				<ion-nav-buttons side="primary">
					<button class="button" ng-click="toggleLeft()">
				       <i class="icon ion-navicon-round"></i>
				    </button>
				</ion-nav-buttons>
				
				<ion-nav-buttons side="secondary">
					<button class="button" ng-click="showFilters()">
				       <i class="icon ion-android-funnel"></i>
				    </button>
				</ion-nav-buttons>
			</ion-nav-bar>
			
			<ion-content class="dashboard-content" scroll="false">
			
				<div class="cover" ng-click="removeLightbox()"></div>
				<div id="map_info">
					<span class="block damask-text avenir-black uppercase centered">"{{map_info.title}}"</span>
					<hr />
					<div class="infoAddress">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:#70A291;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:#70A291;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.address}}</span>
		                </div>
	                </div>
	                <div class="infoDate">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>calendar</title><path style="fill:#70A291;" d="M11.7,3.762a1,1,0,0,0-.975-.795.2.2,0,1,0,0,.4.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4,1,1,0,0,0,.975-.8H14.3V5.95H3.561V4.16H6.941a.2.2,0,1,0,0-.4H6.58a.6.6,0,1,1,.56.8.2.2,0,1,0,0,.4.994.994,0,1,0-.975-1.193h-3V14.3H14.7V3.762ZM14.3,13.906H3.561V6.348H14.3Z"/><path style="fill:#70A291;" d="M8.334,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,0,0,0-1.988.2.2,0,1,0,0,.4Z"/><path style="fill:#70A291;" d="M9.527,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,1,0,0-1.988.2.2,0,1,0,0,.4Z"/><circle style="fill:#70A291;" cx="7.537" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="12.315" r="0.199"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.date | date : "dd MMMM 'de' y"}}</span>
		                </div>
	                </div>
	                <div class="infoStatus" ng-if="map_info.statusSTR">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px; height: 26px; padding-right: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.611 17.44"><title>police</title><path style="fill:#70A291;" d="M25.406,5.265a1.164,1.164,0,0,0-.615-1.772L14.241.218a4.827,4.827,0,0,0-2.87,0L.821,3.493A1.164,1.164,0,0,0,.206,5.265L4.425,11.4v1.5c-1.176.464-1.77,1.029-1.77,1.687,0,.884,1.064,1.6,3.165,2.124a30.121,30.121,0,0,0,6.986.726,30.11,30.11,0,0,0,6.984-.726c2.1-.525,3.166-1.24,3.166-2.123,0-.658-.595-1.223-1.77-1.687V11.4Zm-5.049,7.362H5.255v-.94h15.1v.94ZM11.3,5.965l-.617-1.008,1.183.03a.417.417,0,0,0,.375-.216l.565-1.039.564,1.039a.415.415,0,0,0,.375.216l1.183-.03-.617,1.008a.417.417,0,0,0,0,.434l.617,1.009-1.183-.031a.419.419,0,0,0-.375.217l-.564,1.039-.565-1.039a.415.415,0,0,0-.364-.217h-.011l-1.183.031L11.3,6.4A.412.412,0,0,0,11.3,5.965Zm13.244-1.68a.334.334,0,0,1,.177.509l-4.168,6.062H13.22V9.607l.758-1.394,1.691.043a.415.415,0,0,0,.365-.631l-.884-1.443.884-1.443a.416.416,0,0,0-.365-.632l-1.691.043L13.22,2.757V.852a4.032,4.032,0,0,1,.774.16ZM.849,4.5a.33.33,0,0,1,.218-.21l10.55-3.274A3.983,3.983,0,0,1,12.39.852V2.757l-.757,1.394L9.942,4.108a.417.417,0,0,0-.37.207.413.413,0,0,0,.006.424l.883,1.443L9.578,7.626a.414.414,0,0,0,.364.631l1.691-.043.757,1.393v1.25H5.058L.89,4.794A.333.333,0,0,1,.849,4.5Zm21.278,10.1c0,.162-.21.382-.561.59a7.808,7.808,0,0,1-1.977.728,29.31,29.31,0,0,1-6.783.7,29.329,29.329,0,0,1-6.785-.7c-2.006-.5-2.537-1.082-2.537-1.319,0-.278.58-.735,1.873-1.134h14.9C21.547,13.856,22.127,14.313,22.127,14.591Z"/><path style="fill:#70A291;" d="M12.806,7.039a.8.8,0,1,0-.8-.8A.8.8,0,0,0,12.806,7.039Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.statusSTR}}</span>
		                </div>
	                </div>
	                <div class="button-bar infoActions">
						<a class="button damask white-text" ng-click="goViewComplaint(map_info.id)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.85 19"><defs><style>.cls-1{fill:white;}.cls-2{clip-path:url(#clip-path);fill:white;}.cls-3{clip-path:url(#clip-path-2);}.cls-4{fill:white;}.cls-5{clip-path:url(#clip-path-3);}.cls-6{clip-path:url(#clip-path-5);}.cls-7{clip-path:url(#clip-path-7);}</style><clipPath id="clip-path"><path class="cls-1" d="M15.425.9A16.709,16.709,0,0,1,30.008,9.723a.447.447,0,0,0,.611.175.454.454,0,0,0,.174-.615A17.606,17.606,0,0,0,15.425,0,17.6,17.6,0,0,0,.057,9.283a.451.451,0,0,0,0,.439A17.613,17.613,0,0,0,15.425,19a17.041,17.041,0,0,0,8.23-2.114.454.454,0,0,0,.18-.614.447.447,0,0,0-.609-.18,16.149,16.149,0,0,1-7.8,2A16.7,16.7,0,0,1,.965,9.5,16.691,16.691,0,0,1,15.425.9Z"/></clipPath><clipPath id="clip-path-2"><rect class="cls-1" x="-16" y="-300.897" width="375" height="666.999"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M15.425,5.369A4.033,4.033,0,0,1,19.353,9.5a4.032,4.032,0,0,1-3.928,4.129A4.032,4.032,0,0,1,11.5,9.5a.449.449,0,1,0-.9,0,4.933,4.933,0,0,0,4.825,5.034A4.933,4.933,0,0,0,20.251,9.5a4.933,4.933,0,0,0-4.826-5.035.452.452,0,0,0,0,.9Z"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M11.9,6.037l-.065.1a.454.454,0,0,0,.129.626.449.449,0,0,0,.623-.13l.065-.1a.454.454,0,0,0-.129-.626A.448.448,0,0,0,11.9,6.037Z"/></clipPath><clipPath id="clip-path-7"><path class="cls-1" d="M25.833,15.471l.136-.088a.454.454,0,0,0,.137-.624.448.448,0,0,0-.621-.138l-.135.086a.454.454,0,0,0-.137.625A.447.447,0,0,0,25.833,15.471Z"/></clipPath></defs><title>eye</title><g class="cls-2"><g class="cls-3"><rect class="cls-4" x="-5" y="-5" width="40.851" height="29"/></g></g><g class="cls-5"><g class="cls-3"><rect class="cls-4" x="5.6" y="-0.535" width="19.651" height="20.069"/></g></g><g class="cls-6"><g class="cls-3"><rect class="cls-4" x="6.764" y="0.833" width="10.965" height="11.005"/></g></g><g class="cls-7"><g class="cls-3"><rect class="cls-4" x="20.142" y="9.549" width="11.034" height="10.992"/></g></g></svg>
							<span class="avenir-book inline">VER</span>
						</a>
						<a class="button damask white-text" ng-click="showJoinComplaint(map_info.id)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13.2 13.2" xml:space="preserve"><title>1</title><path style="fill:#FFF;" d="M6.6,0C3,0,0,3,0,6.6s3,6.6,6.6,6.6c3.6,0,6.6-3,6.6-6.6C13.2,3,10.3,0,6.6,0z M6.6,12.4c-3.2,0-5.7-2.6-5.7-5.7s2.6-5.7,5.7-5.7c3.2,0,5.7,2.6,5.7,5.7C12.3,9.8,9.8,12.3,6.6,12.4z"/><path style="fill:#FFF;" d="M9.2,6.2H7V4c0-0.2-0.2-0.4-0.4-0.4C6.4,3.5,6.2,3.7,6.2,4v2.2H4c-0.2,0-0.4,0.2-0.4,0.4C3.5,6.8,3.7,7,4,7h2.2v2.2c0,0.2,0.2,0.4,0.4,0.4C6.8,9.7,7,9.5,7,9.2V7h2.2c0.2,0,0.4-0.2,0.4-0.4C9.7,6.4,9.5,6.2,9.2,6.2L9.2,6.2z"/></svg>
							<span class="avenir-book inline">UNIRTE</span>
						</a>
						<a class="button damask white-text" ng-click="showConfirmFollow(map_info.id)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12.6 14.1" style="enable-background:new 0 0 12.6 14.1;" xml:space="preserve"><title>follow</title><path style="fill:#FFF;" d="M11.6,10.7l-1.3-1.3c-0.1-0.1-0.3-0.1-0.3,0c-0.1,0.1-0.1,0.3,0,0.3l0.9,0.9H7.3c-0.1,0-0.2,0.1-0.2,0.2s0.1,0.2,0.2,0.2h3.5L9.9,12c-0.1,0.1-0.1,0.3,0,0.3c0.1,0.1,0.3,0.1,0.3,0l1.3-1.3C11.7,11,11.7,10.8,11.6,10.7C11.6,10.7,11.6,10.7,11.6,10.7z"/><path style="fill:#FFF;" d="M5.2,6.8c0.9-0.1,1.7-0.6,2.1-1.3C7.9,4.8,8.2,3.9,8.2,3c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,0.9,0.3,1.8,0.9,2.5C3.5,6.3,4.3,6.8,5.2,6.8z M5.2,0.5c1.4,0,2.5,1.1,2.5,2.5c0,0.8-0.3,1.6-0.8,2.2C6.6,5.9,6,6.3,5.2,6.4C4.5,6.3,3.8,5.9,3.5,5.2C3,4.6,2.7,3.8,2.7,3C2.7,1.6,3.8,0.5,5.2,0.5z"/><path style="fill:#FFF;" d="M6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8C6.5,12.7,6.5,12.7,6.5,12.8c-0.1-0.2-0.3-0.2-0.4-0.1C6,12.8,6,12.9,6.1,13c0.1,0.1,0.3,0.1,0.3,0C6.5,13,6.5,12.9,6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8z"/><path style="fill:#FFF;" d="M9.4,7.7L9.4,7.7C8.8,7.1,8.2,6.6,7.5,6.3c-0.1,0-0.2,0-0.3,0C6.7,6.9,6,7.2,5.2,7.2c-0.7,0-1.5-0.3-2-0.9C3.2,6.3,3.1,6.3,3,6.3C1.2,7.2,0,9,0,11l0,0c0,0.1,0,0.1,0.1,0.2c1.4,1.3,3.2,2,5.1,2c0.1,0,0.2,0,0.3,0c0.1,0,0.2-0.1,0.2-0.3c0-0.1-0.1-0.2-0.3-0.2c-0.1,0-0.2,0-0.3,0c-1.7,0-3.4-0.6-4.7-1.8c0-1.7,1-3.3,2.6-4.1c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9c0.5,0.3,0.9,0.6,1.3,1c-1.7,0.4-2.8,2-2.5,3.8c0.4,1.7,2,2.8,3.8,2.5s2.8-2,2.5-3.8C12.2,8.8,10.9,7.7,9.4,7.7L9.4,7.7z M9.4,13.6c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7C12.1,12.4,10.8,13.6,9.4,13.6L9.4,13.6z"/></svg>
							<span class="avenir-book inline">SEGUIR</span>
						</a>
					</div>
				</div>
				<div id="ong_info">
					<span class="block damask-text avenir-black uppercase centered">
						"{{map_info.title}}"
					</span>
					<hr />
					<div class="infoAddress">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:#70A291;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:#70A291;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.address}}</span>
		                </div>
	                </div>
	                <div class="infoDate">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>calendar</title><path style="fill:#70A291;" d="M11.7,3.762a1,1,0,0,0-.975-.795.2.2,0,1,0,0,.4.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4,1,1,0,0,0,.975-.8H14.3V5.95H3.561V4.16H6.941a.2.2,0,1,0,0-.4H6.58a.6.6,0,1,1,.56.8.2.2,0,1,0,0,.4.994.994,0,1,0-.975-1.193h-3V14.3H14.7V3.762ZM14.3,13.906H3.561V6.348H14.3Z"/><path style="fill:#70A291;" d="M8.334,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,0,0,0-1.988.2.2,0,1,0,0,.4Z"/><path style="fill:#70A291;" d="M9.527,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,1,0,0-1.988.2.2,0,1,0,0,.4Z"/><circle style="fill:#70A291;" cx="7.537" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="12.315" r="0.199"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.date | date : "dd MMMM 'de' y"}}</span>
		                </div>
	                </div>
	                <div class="infoDate">
		                <div class="table-cell vtop">
		                	<!--<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>calendar</title><path style="fill:#70A291;" d="M11.7,3.762a1,1,0,0,0-.975-.795.2.2,0,1,0,0,.4.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4,1,1,0,0,0,.975-.8H14.3V5.95H3.561V4.16H6.941a.2.2,0,1,0,0-.4H6.58a.6.6,0,1,1,.56.8.2.2,0,1,0,0,.4.994.994,0,1,0-.975-1.193h-3V14.3H14.7V3.762ZM14.3,13.906H3.561V6.348H14.3Z"/><path style="fill:#70A291;" d="M8.334,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,0,0,0-1.988.2.2,0,1,0,0,.4Z"/><path style="fill:#70A291;" d="M9.527,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,1,0,0-1.988.2.2,0,1,0,0,.4Z"/><circle style="fill:#70A291;" cx="7.537" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="12.315" r="0.199"/></svg>!-->
							<i class="fa fa-usd acapulco-text" aria-hidden="true"></i>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.amount}}</span>
		                </div>
	                </div>
	                <div class="infoDate">
		                <div class="table-cell vtop">
		                	<!--<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>calendar</title><path style="fill:#70A291;" d="M11.7,3.762a1,1,0,0,0-.975-.795.2.2,0,1,0,0,.4.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4,1,1,0,0,0,.975-.8H14.3V5.95H3.561V4.16H6.941a.2.2,0,1,0,0-.4H6.58a.6.6,0,1,1,.56.8.2.2,0,1,0,0,.4.994.994,0,1,0-.975-1.193h-3V14.3H14.7V3.762ZM14.3,13.906H3.561V6.348H14.3Z"/><path style="fill:#70A291;" d="M8.334,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,0,0,0-1.988.2.2,0,1,0,0,.4Z"/><path style="fill:#70A291;" d="M9.527,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,1,0,0-1.988.2.2,0,1,0,0,.4Z"/><circle style="fill:#70A291;" cx="7.537" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="12.315" r="0.199"/></svg>-->
							<i class="fa fa-folder-open-o acapulco-text" aria-hidden="true"></i>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.category}}</span>
		                </div>
		                <button id="btnModerar" class="button damask right white-text avenir-book" ng-if="map_info.status != 0" ng-click="viewComplaint(map_info)">
							<i class="fa fa-pencil white-text" aria-hidden="true"></i> MODERAR
						</button>
	                </div>
	                <div class="infoStatus" ng-if="map_info.statusSTR">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px; height: 26px; padding-right: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.611 17.44"><title>police</title><path style="fill:#70A291;" d="M25.406,5.265a1.164,1.164,0,0,0-.615-1.772L14.241.218a4.827,4.827,0,0,0-2.87,0L.821,3.493A1.164,1.164,0,0,0,.206,5.265L4.425,11.4v1.5c-1.176.464-1.77,1.029-1.77,1.687,0,.884,1.064,1.6,3.165,2.124a30.121,30.121,0,0,0,6.986.726,30.11,30.11,0,0,0,6.984-.726c2.1-.525,3.166-1.24,3.166-2.123,0-.658-.595-1.223-1.77-1.687V11.4Zm-5.049,7.362H5.255v-.94h15.1v.94ZM11.3,5.965l-.617-1.008,1.183.03a.417.417,0,0,0,.375-.216l.565-1.039.564,1.039a.415.415,0,0,0,.375.216l1.183-.03-.617,1.008a.417.417,0,0,0,0,.434l.617,1.009-1.183-.031a.419.419,0,0,0-.375.217l-.564,1.039-.565-1.039a.415.415,0,0,0-.364-.217h-.011l-1.183.031L11.3,6.4A.412.412,0,0,0,11.3,5.965Zm13.244-1.68a.334.334,0,0,1,.177.509l-4.168,6.062H13.22V9.607l.758-1.394,1.691.043a.415.415,0,0,0,.365-.631l-.884-1.443.884-1.443a.416.416,0,0,0-.365-.632l-1.691.043L13.22,2.757V.852a4.032,4.032,0,0,1,.774.16ZM.849,4.5a.33.33,0,0,1,.218-.21l10.55-3.274A3.983,3.983,0,0,1,12.39.852V2.757l-.757,1.394L9.942,4.108a.417.417,0,0,0-.37.207.413.413,0,0,0,.006.424l.883,1.443L9.578,7.626a.414.414,0,0,0,.364.631l1.691-.043.757,1.393v1.25H5.058L.89,4.794A.333.333,0,0,1,.849,4.5Zm21.278,10.1c0,.162-.21.382-.561.59a7.808,7.808,0,0,1-1.977.728,29.31,29.31,0,0,1-6.783.7,29.329,29.329,0,0,1-6.785-.7c-2.006-.5-2.537-1.082-2.537-1.319,0-.278.58-.735,1.873-1.134h14.9C21.547,13.856,22.127,14.313,22.127,14.591Z"/><path style="fill:#70A291;" d="M12.806,7.039a.8.8,0,1,0-.8-.8A.8.8,0,0,0,12.806,7.039Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.statusSTR}}</span>
		                </div>
	                </div>
	                <div class="button-bar infoActions">
						<a class="button damask white-text" ng-if="map_info.status != 0" ng-click="groupComplaints(map_info)">
							<!--<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.85 19"><defs><style>.cls-1{fill:white;}.cls-2{clip-path:url(#clip-path);fill:white;}.cls-3{clip-path:url(#clip-path-2);}.cls-4{fill:white;}.cls-5{clip-path:url(#clip-path-3);}.cls-6{clip-path:url(#clip-path-5);}.cls-7{clip-path:url(#clip-path-7);}</style><clipPath id="clip-path"><path class="cls-1" d="M15.425.9A16.709,16.709,0,0,1,30.008,9.723a.447.447,0,0,0,.611.175.454.454,0,0,0,.174-.615A17.606,17.606,0,0,0,15.425,0,17.6,17.6,0,0,0,.057,9.283a.451.451,0,0,0,0,.439A17.613,17.613,0,0,0,15.425,19a17.041,17.041,0,0,0,8.23-2.114.454.454,0,0,0,.18-.614.447.447,0,0,0-.609-.18,16.149,16.149,0,0,1-7.8,2A16.7,16.7,0,0,1,.965,9.5,16.691,16.691,0,0,1,15.425.9Z"/></clipPath><clipPath id="clip-path-2"><rect class="cls-1" x="-16" y="-300.897" width="375" height="666.999"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M15.425,5.369A4.033,4.033,0,0,1,19.353,9.5a4.032,4.032,0,0,1-3.928,4.129A4.032,4.032,0,0,1,11.5,9.5a.449.449,0,1,0-.9,0,4.933,4.933,0,0,0,4.825,5.034A4.933,4.933,0,0,0,20.251,9.5a4.933,4.933,0,0,0-4.826-5.035.452.452,0,0,0,0,.9Z"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M11.9,6.037l-.065.1a.454.454,0,0,0,.129.626.449.449,0,0,0,.623-.13l.065-.1a.454.454,0,0,0-.129-.626A.448.448,0,0,0,11.9,6.037Z"/></clipPath><clipPath id="clip-path-7"><path class="cls-1" d="M25.833,15.471l.136-.088a.454.454,0,0,0,.137-.624.448.448,0,0,0-.621-.138l-.135.086a.454.454,0,0,0-.137.625A.447.447,0,0,0,25.833,15.471Z"/></clipPath></defs><title>eye</title><g class="cls-2"><g class="cls-3"><rect class="cls-4" x="-5" y="-5" width="40.851" height="29"/></g></g><g class="cls-5"><g class="cls-3"><rect class="cls-4" x="5.6" y="-0.535" width="19.651" height="20.069"/></g></g><g class="cls-6"><g class="cls-3"><rect class="cls-4" x="6.764" y="0.833" width="10.965" height="11.005"/></g></g><g class="cls-7"><g class="cls-3"><rect class="cls-4" x="20.142" y="9.549" width="11.034" height="10.992"/></g></g></svg>-->
							<i class="fa fa-plus" aria-hidden="true"></i>
							<span class="avenir-book inline">AGRUPAR</span>
						</a>
						<a class="button damask white-text" ng-if="map_info.status == 0" ng-click="viewComplaint(map_info)">
							<!--<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.85 19"><defs><style>.cls-1{fill:white;}.cls-2{clip-path:url(#clip-path);fill:white;}.cls-3{clip-path:url(#clip-path-2);}.cls-4{fill:white;}.cls-5{clip-path:url(#clip-path-3);}.cls-6{clip-path:url(#clip-path-5);}.cls-7{clip-path:url(#clip-path-7);}</style><clipPath id="clip-path"><path class="cls-1" d="M15.425.9A16.709,16.709,0,0,1,30.008,9.723a.447.447,0,0,0,.611.175.454.454,0,0,0,.174-.615A17.606,17.606,0,0,0,15.425,0,17.6,17.6,0,0,0,.057,9.283a.451.451,0,0,0,0,.439A17.613,17.613,0,0,0,15.425,19a17.041,17.041,0,0,0,8.23-2.114.454.454,0,0,0,.18-.614.447.447,0,0,0-.609-.18,16.149,16.149,0,0,1-7.8,2A16.7,16.7,0,0,1,.965,9.5,16.691,16.691,0,0,1,15.425.9Z"/></clipPath><clipPath id="clip-path-2"><rect class="cls-1" x="-16" y="-300.897" width="375" height="666.999"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M15.425,5.369A4.033,4.033,0,0,1,19.353,9.5a4.032,4.032,0,0,1-3.928,4.129A4.032,4.032,0,0,1,11.5,9.5a.449.449,0,1,0-.9,0,4.933,4.933,0,0,0,4.825,5.034A4.933,4.933,0,0,0,20.251,9.5a4.933,4.933,0,0,0-4.826-5.035.452.452,0,0,0,0,.9Z"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M11.9,6.037l-.065.1a.454.454,0,0,0,.129.626.449.449,0,0,0,.623-.13l.065-.1a.454.454,0,0,0-.129-.626A.448.448,0,0,0,11.9,6.037Z"/></clipPath><clipPath id="clip-path-7"><path class="cls-1" d="M25.833,15.471l.136-.088a.454.454,0,0,0,.137-.624.448.448,0,0,0-.621-.138l-.135.086a.454.454,0,0,0-.137.625A.447.447,0,0,0,25.833,15.471Z"/></clipPath></defs><title>eye</title><g class="cls-2"><g class="cls-3"><rect class="cls-4" x="-5" y="-5" width="40.851" height="29"/></g></g><g class="cls-5"><g class="cls-3"><rect class="cls-4" x="5.6" y="-0.535" width="19.651" height="20.069"/></g></g><g class="cls-6"><g class="cls-3"><rect class="cls-4" x="6.764" y="0.833" width="10.965" height="11.005"/></g></g><g class="cls-7"><g class="cls-3"><rect class="cls-4" x="20.142" y="9.549" width="11.034" height="10.992"/></g></g></svg>-->
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<span class="avenir-book inline">MODERAR</span>
						</a>
						<!--<a class="button damask white-text" ng-click="showJoinComplaint(map_info.id)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13.2 13.2" xml:space="preserve"><title>1</title><path style="fill:#FFF;" d="M6.6,0C3,0,0,3,0,6.6s3,6.6,6.6,6.6c3.6,0,6.6-3,6.6-6.6C13.2,3,10.3,0,6.6,0z M6.6,12.4c-3.2,0-5.7-2.6-5.7-5.7s2.6-5.7,5.7-5.7c3.2,0,5.7,2.6,5.7,5.7C12.3,9.8,9.8,12.3,6.6,12.4z"/><path style="fill:#FFF;" d="M9.2,6.2H7V4c0-0.2-0.2-0.4-0.4-0.4C6.4,3.5,6.2,3.7,6.2,4v2.2H4c-0.2,0-0.4,0.2-0.4,0.4C3.5,6.8,3.7,7,4,7h2.2v2.2c0,0.2,0.2,0.4,0.4,0.4C6.8,9.7,7,9.5,7,9.2V7h2.2c0.2,0,0.4-0.2,0.4-0.4C9.7,6.4,9.5,6.2,9.2,6.2L9.2,6.2z"/></svg>
							<span class="avenir-book inline">UNIRTE</span>
						</a>-->
						<a class="button damask white-text" ng-click="cancelGroupComplaint(map_info.id)">
							<!--<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12.6 14.1" style="enable-background:new 0 0 12.6 14.1;" xml:space="preserve"><title>follow</title><path style="fill:#FFF;" d="M11.6,10.7l-1.3-1.3c-0.1-0.1-0.3-0.1-0.3,0c-0.1,0.1-0.1,0.3,0,0.3l0.9,0.9H7.3c-0.1,0-0.2,0.1-0.2,0.2s0.1,0.2,0.2,0.2h3.5L9.9,12c-0.1,0.1-0.1,0.3,0,0.3c0.1,0.1,0.3,0.1,0.3,0l1.3-1.3C11.7,11,11.7,10.8,11.6,10.7C11.6,10.7,11.6,10.7,11.6,10.7z"/><path style="fill:#FFF;" d="M5.2,6.8c0.9-0.1,1.7-0.6,2.1-1.3C7.9,4.8,8.2,3.9,8.2,3c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,0.9,0.3,1.8,0.9,2.5C3.5,6.3,4.3,6.8,5.2,6.8z M5.2,0.5c1.4,0,2.5,1.1,2.5,2.5c0,0.8-0.3,1.6-0.8,2.2C6.6,5.9,6,6.3,5.2,6.4C4.5,6.3,3.8,5.9,3.5,5.2C3,4.6,2.7,3.8,2.7,3C2.7,1.6,3.8,0.5,5.2,0.5z"/><path style="fill:#FFF;" d="M6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8C6.5,12.7,6.5,12.7,6.5,12.8c-0.1-0.2-0.3-0.2-0.4-0.1C6,12.8,6,12.9,6.1,13c0.1,0.1,0.3,0.1,0.3,0C6.5,13,6.5,12.9,6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8z"/><path style="fill:#FFF;" d="M9.4,7.7L9.4,7.7C8.8,7.1,8.2,6.6,7.5,6.3c-0.1,0-0.2,0-0.3,0C6.7,6.9,6,7.2,5.2,7.2c-0.7,0-1.5-0.3-2-0.9C3.2,6.3,3.1,6.3,3,6.3C1.2,7.2,0,9,0,11l0,0c0,0.1,0,0.1,0.1,0.2c1.4,1.3,3.2,2,5.1,2c0.1,0,0.2,0,0.3,0c0.1,0,0.2-0.1,0.2-0.3c0-0.1-0.1-0.2-0.3-0.2c-0.1,0-0.2,0-0.3,0c-1.7,0-3.4-0.6-4.7-1.8c0-1.7,1-3.3,2.6-4.1c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9c0.5,0.3,0.9,0.6,1.3,1c-1.7,0.4-2.8,2-2.5,3.8c0.4,1.7,2,2.8,3.8,2.5s2.8-2,2.5-3.8C12.2,8.8,10.9,7.7,9.4,7.7L9.4,7.7z M9.4,13.6c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7C12.1,12.4,10.8,13.6,9.4,13.6L9.4,13.6z"/></svg>-->
							<i class="fa fa-times" aria-hidden="true"></i>
							<span class="avenir-book inline">CANCELAR</span>
						</a>
					</div>
					<!--<button class="button button-full damask white-text" ng-click="groupComplaints(map_info.id)">
						<i class="fa fa-plus" aria-hidden="true"></i>
						<span class="avenir-book inline">AGRUPAR</span>
					</button>
					<button class="button button-full damask white-text" ng-click="showGroupsComplaints(map_info.id)">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span class="avenir-book inline">GRUPOS GUARDADOS</span>
					</button>-->
				</div>
				<div id="aut_info">
					<span class="block damask-text avenir-black uppercase centered">"{{map_info.title}}"</span>
					<hr />
					<div class="infoAddress">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:#70A291;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:#70A291;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.address}}</span>
		                </div>
	                </div>
	                <div class="infoDate">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>calendar</title><path style="fill:#70A291;" d="M11.7,3.762a1,1,0,0,0-.975-.795.2.2,0,1,0,0,.4.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4,1,1,0,0,0,.975-.8H14.3V5.95H3.561V4.16H6.941a.2.2,0,1,0,0-.4H6.58a.6.6,0,1,1,.56.8.2.2,0,1,0,0,.4.994.994,0,1,0-.975-1.193h-3V14.3H14.7V3.762ZM14.3,13.906H3.561V6.348H14.3Z"/><path style="fill:#70A291;" d="M8.334,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,0,0,0-1.988.2.2,0,1,0,0,.4Z"/><path style="fill:#70A291;" d="M9.527,3.364a.6.6,0,0,1,0,1.193.2.2,0,1,0,0,.4.994.994,0,1,0,0-1.988.2.2,0,1,0,0,.4Z"/><circle style="fill:#70A291;" cx="7.537" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="7.74" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="9.331" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="11.715" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="13.107" cy="10.724" r="0.199"/><circle style="fill:#70A291;" cx="4.754" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="6.146" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="7.537" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="8.93" cy="12.315" r="0.199"/><circle style="fill:#70A291;" cx="10.322" cy="12.315" r="0.199"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.date | date : "dd MMMM 'de' y"}}</span>
		                </div>
	                </div>
	                <div class="infoStatus" ng-if="map_info.statusSTR">
		                <div class="table-cell vtop">
		                	<svg style="width: 26px; height: 26px; padding-right: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.611 17.44"><title>police</title><path style="fill:#70A291;" d="M25.406,5.265a1.164,1.164,0,0,0-.615-1.772L14.241.218a4.827,4.827,0,0,0-2.87,0L.821,3.493A1.164,1.164,0,0,0,.206,5.265L4.425,11.4v1.5c-1.176.464-1.77,1.029-1.77,1.687,0,.884,1.064,1.6,3.165,2.124a30.121,30.121,0,0,0,6.986.726,30.11,30.11,0,0,0,6.984-.726c2.1-.525,3.166-1.24,3.166-2.123,0-.658-.595-1.223-1.77-1.687V11.4Zm-5.049,7.362H5.255v-.94h15.1v.94ZM11.3,5.965l-.617-1.008,1.183.03a.417.417,0,0,0,.375-.216l.565-1.039.564,1.039a.415.415,0,0,0,.375.216l1.183-.03-.617,1.008a.417.417,0,0,0,0,.434l.617,1.009-1.183-.031a.419.419,0,0,0-.375.217l-.564,1.039-.565-1.039a.415.415,0,0,0-.364-.217h-.011l-1.183.031L11.3,6.4A.412.412,0,0,0,11.3,5.965Zm13.244-1.68a.334.334,0,0,1,.177.509l-4.168,6.062H13.22V9.607l.758-1.394,1.691.043a.415.415,0,0,0,.365-.631l-.884-1.443.884-1.443a.416.416,0,0,0-.365-.632l-1.691.043L13.22,2.757V.852a4.032,4.032,0,0,1,.774.16ZM.849,4.5a.33.33,0,0,1,.218-.21l10.55-3.274A3.983,3.983,0,0,1,12.39.852V2.757l-.757,1.394L9.942,4.108a.417.417,0,0,0-.37.207.413.413,0,0,0,.006.424l.883,1.443L9.578,7.626a.414.414,0,0,0,.364.631l1.691-.043.757,1.393v1.25H5.058L.89,4.794A.333.333,0,0,1,.849,4.5Zm21.278,10.1c0,.162-.21.382-.561.59a7.808,7.808,0,0,1-1.977.728,29.31,29.31,0,0,1-6.783.7,29.329,29.329,0,0,1-6.785-.7c-2.006-.5-2.537-1.082-2.537-1.319,0-.278.58-.735,1.873-1.134h14.9C21.547,13.856,22.127,14.313,22.127,14.591Z"/><path style="fill:#70A291;" d="M12.806,7.039a.8.8,0,1,0-.8-.8A.8.8,0,0,0,12.806,7.039Z"/></svg>
		                </div>
		                <div class="table-cell vmiddle">
		                	<span class="block black-text avenir-book">{{map_info.statusSTR}}</span>
		                </div>
	                </div>
	                <div class="button-bar infoActions">
						<a class="button damask white-text" ng-click="goViewComplaintsGroupDependency(map_info.idgroup)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 12.6 14.1" style="enable-background:new 0 0 12.6 14.1;" xml:space="preserve"><style type="text/css">.st0{fill:#FFF;}</style><title>user2</title><path class="st0" d="M11.6,10.7l-1.3-1.3c-0.1-0.1-0.3-0.1-0.3,0c-0.1,0.1-0.1,0.3,0,0.3l0.9,0.9H7.3c-0.1,0-0.2,0.1-0.2,0.2s0.1,0.2,0.2,0.2h3.5L9.9,12c-0.1,0.1-0.1,0.3,0,0.3c0.1,0.1,0.3,0.1,0.3,0l1.3-1.3C11.7,11,11.7,10.8,11.6,10.7C11.6,10.7,11.6,10.7,11.6,10.7z"/><path class="st0" d="M5.2,6.8c0.9-0.1,1.7-0.6,2.1-1.3C7.9,4.8,8.2,3.9,8.2,3c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,0.9,0.3,1.8,0.9,2.5C3.5,6.3,4.3,6.8,5.2,6.8z M5.2,0.5c1.4,0,2.5,1.1,2.5,2.5c0,0.8-0.3,1.6-0.8,2.2C6.6,5.9,6,6.3,5.2,6.4C4.5,6.3,3.8,5.9,3.5,5.2C3,4.6,2.7,3.8,2.7,3C2.7,1.6,3.8,0.5,5.2,0.5z"/><path class="st0" d="M6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8C6.5,12.7,6.5,12.7,6.5,12.8c-0.1-0.2-0.3-0.2-0.4-0.1C6,12.8,6,12.9,6.1,13c0.1,0.1,0.3,0.1,0.3,0C6.5,13,6.5,12.9,6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8z"/><path class="st0" d="M9.4,7.7L9.4,7.7C8.8,7.1,8.2,6.6,7.5,6.3c-0.1,0-0.2,0-0.3,0C6.7,6.9,6,7.2,5.2,7.2c-0.7,0-1.5-0.3-2-0.9C3.2,6.3,3.1,6.3,3,6.3C1.2,7.2,0,9,0,11l0,0c0,0.1,0,0.1,0.1,0.2c1.4,1.3,3.2,2,5.1,2c0.1,0,0.2,0,0.3,0c0.1,0,0.2-0.1,0.2-0.3c0-0.1-0.1-0.2-0.3-0.2c-0.1,0-0.2,0-0.3,0c-1.7,0-3.4-0.6-4.7-1.8c0-1.7,1-3.3,2.6-4.1c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9c0.5,0.3,0.9,0.6,1.3,1c-1.7,0.4-2.8,2-2.5,3.8c0.4,1.7,2,2.8,3.8,2.5s2.8-2,2.5-3.8C12.2,8.8,10.9,7.7,9.4,7.7L9.4,7.7z M9.4,13.6c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7C12.1,12.4,10.8,13.6,9.4,13.6L9.4,13.6z"/></svg>
							<span class="avenir-book inline">SEGUIMIENTO</span>
						</a>
						<a class="button damask white-text" ng-click="goViewComplaintDependency(map_info.id)">
							<svg class="vmiddle" style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.503 27.578"><defs><style>.cls-1{fill:#FFF;}</style></defs><title>folder</title><path class="cls-1" d="M29.353,10.561a.622.622,0,0,0-.475-.217H27.556V3.334a.872.872,0,0,0-.871-.871h-15.1L10.361.424A.875.875,0,0,0,9.613,0h-6.8a.873.873,0,0,0-.871.871v9.471H.626a.627.627,0,0,0-.475.219.62.62,0,0,0-.144.5L2.429,27.047a.622.622,0,0,0,.617.531h23.41a.624.624,0,0,0,.619-.533l2.42-15.98A.623.623,0,0,0,29.353,10.561ZM2.933.986H9.548l1.225,2.039a.872.872,0,0,0,.746.424H26.571v6.895h-.986V6.9H3.917v3.447H2.933ZM24.6,10.344H4.9V7.881H24.6Zm1.547,16.25H3.357L1.044,11.328H28.46Z"/></svg>
							<span class="avenir-book inline">ATENDER</span>
						</a>
					</div>
				</div>
				
				<div id="map_canvas" style="background: #fff;" data-tap-disabled="false">
					<ui-gmap-google-map ng-if="map.center" options="map.options" center="map.center" zoom="map.zoom" control="map.control">
				    	<ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onClick"></ui-gmap-markers>
				    	<ui-gmap-marker ng-if="menuUser" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
				
				<div class="list list-inset" id="search-map">
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<i class="icon ion-search placeholder-icon"></i>
								<input type="text" ng-focus="disableTap()" ng-model="location" ng-click="clearInput()" places-auto-complete types="['geocode']" on-place-changed="placeMarker(map)" placeholder="Mantén seleccionada la dirección que buscas">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="centered black-squeeze padding-1rem" ng-show="menuUser" style="margin-top: -11px; height: 47px;">
								<span class="avenir-medium">O arrastra el pin a la ubicación</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button class="button button-filter avenir-medium" ng-click="geoLocator()" style="margin-top: -11px; height: 47px;">
							    Usar mi ubicación <i class="icon ion-pinpoint"></i>
							</button>
						</div>
					</div>
				</div>
				
				<div class="action centered" ng-show="menuUser">
					<div ng-click="newComplaint()">
						<svg width="130px" height="130px" viewBox="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						    <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
						    <title>nueva_denuncia</title>
						    <desc>Created with Sketch.</desc>
						    <defs>
						        <circle id="path-1" cx="65" cy="65" r="65"></circle>
						    </defs>
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="Mobile" transform="translate(-95.000000, -766.000000)">
						            <g id="nueva_denuncia" transform="translate(95.000000, 766.000000)">
						                <g id="Combined-Shape" stroke-width="1">
						                    <mask id="mask-2" fill="white">
						                        <use xlink:href="#path-1"></use>
						                    </mask>
						                    <use id="Mask" fill="#BC7556" xlink:href="#path-1"></use>
						                    <path d="M79,52 L79,0 L52,0 L52,52 L0,52 L0,79 L52,79 L52,130 L79,130 L79,79 L130,79 L130,52 L79,52 Z" fill="#AC684A" mask="url(#mask-2)"></path>
						                </g>
						                <text id="NUEVA-DENUNCIA" fill="#FFFFFF" font-family="Avenir-Black, Avenir" font-size="13" font-weight="700">
						                    <tspan x="5" y="70">NUEVA DENUNCIA</tspan>
						                </text>
						            </g>
						        </g>
						    </g>
						</svg>
					</div>
				</div>
				
			</ion-content>
			
			<div class="tabs damask" ng-if="showGroupActions">
				<a class="tab-item white-text" ng-click="cancelGroup($event)">
					<i class="fa fa-times" aria-hidden="true"></i>
					<span class="avenir-book font14">CANCELAR</span>
				</a>
				<a class="tab-item white-text" ng-click="createGroup($event)">
				    <i class="fa fa-plus" aria-hidden="true"></i>
				    <span class="avenir-book font14">AGRUPAR</span>
				</a>
			</div>
			
		</ion-view>