		<ion-view class="dashboard">
			
			<ion-nav-buttons side="primary">
				<button class="button button-positive button-clear no-animation white-text avenir-medium" ng-click="startApp()" ng-show="!slideIndex">
				    Saltar Intro
				</button>
				<button class="button button-positive button-clear no-animation white-text avenir-medium" ng-click="previous()" ng-show="slideIndex > 0">
					Regresar
				</button>
			</ion-nav-buttons>
			<ion-nav-buttons side="secondary"> 
				<button class="button button-positive button-clear no-animation white-text avenir-medium" ng-click="next()" ng-show="slideIndex != 2">
				    Siguiente
				</button>
				<button class="button button-positive button-clear no-animation white-text avenir-medium" ng-click="startApp()" ng-show="slideIndex == 2">
				    Empezar Incorruptible
				</button>
			</ion-nav-buttons>
			<ion-slide-box on-slide-changed="slideChanged(index)">
				<ion-slide>
					<h3>Thank you for choosing the Awesome App!</h3>
			    	<div id="logo">
						<img src="https://code.ionicframework.com/assets/img/app_icon.png">
			    	</div>
					<p>
						We've worked super hard to make you happy.
			    	</p>
					<p>
						But if you are angry, too bad.
			    	</p>
				</ion-slide>
				<ion-slide>
					<h3>Using Awesome</h3>
				    
				    <div id="list">
				    	<h5>Just three steps:</h5>
						<ol>
				        	<li>Be awesome</li>
							<li>Stay awesome</li>
							<li>There is no step 3</li>
				    	</ol>
				    </div>
				</ion-slide>
				<ion-slide>
				    <h3>Any questions?</h3>
				    <p>
				      Too bad!
				    </p>
				</ion-slide>
			</ion-slide-box>
		</ion-view>