		<ion-view view-title="Nueva Denuncia" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">{{complaint.title}}</h1>
				</div>
				
				<div class="max-width">
					<div class="container-detail">
						<div class="detail" ng-click="showMedia($event)">
							<div ng-show="complaint.video" class="video-player">
								<div class="cover"></div>
								<img class="play" src="img/play.svg">
								<video>
									<source src="{{complaint.video}}">
								</video>
							</div>
							<div ng-show="complaint.audio" class="audio-player">
								<img class="play" src="img/play.svg">
								<audio id="audio-player">
									<source src="{{complaint.audio}}">
								</audio>
							</div>
							<div ng-show="complaint.image" class="image-player">
								<img src="{{complaint.image}}">
							</div>
						</div>
					</div>
					
					<ul class="list complaint-data" id="category-data">
					    <li class="item location">
					    	<div class="row">
						    	<div class="col col-10 pin">
							    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:white;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:white;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book font14 white-text wordwrap">{{complaint.address}}</span>
						    	</div>
					    	</div>
					    </li>
					</ul>
					
					<div class="list comment-amount" id="category-amount">
	
						<div class="item item-divider damask white-text centered avenir-book font14">
					    	Elige una categoría de denuncia
						</div>
					
						<div class="item item-amount" ng-repeat="category in complaint.categories" ng-click="showDetails = ! showDetails">
							<div class="row">
						    	<div class="col col-10 pin">
							    	<svg ng-if="!category.icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.58 26.713"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{clip-rule:evenodd;}.cls-3{clip-path:url(#clip-path);}.cls-4{clip-path:url(#clip-path-2);}.cls-5{isolation:isolate;}.cls-6{clip-path:url(#clip-path-3);}.cls-7{clip-path:url(#clip-path-4);}.cls-8{fill:#d1704c;}.cls-9{clip-path:url(#clip-path-6);}.cls-10{clip-path:url(#clip-path-8);}.cls-11{clip-path:url(#clip-path-10);}.cls-12{clip-path:url(#clip-path-12);}.cls-13{clip-path:url(#clip-path-14);}.cls-14{clip-path:url(#clip-path-16);}.cls-15{clip-path:url(#clip-path-18);}.cls-16{clip-path:url(#clip-path-20);}</style><clipPath id="clip-path" transform="translate(2.73 4.703)"><rect class="cls-1" x="2.27" y="0.297" width="21.579" height="16.713"/></clipPath><clipPath id="clip-path-2" transform="translate(2.73 4.703)"><rect class="cls-1" x="-115.872" y="-552.073" width="375.001" height="667"/></clipPath><clipPath id="clip-path-3" transform="translate(2.73 4.703)"><rect class="cls-1" x="2.128" y="-0.074" width="22" height="18"/></clipPath><clipPath id="clip-path-4" transform="translate(2.73 4.703)"><path class="cls-2" d="M23,1.153v.191q0,5.634,0,11.265a9.01,9.01,0,0,1-.114,1.413,2.228,2.228,0,0,1-1.785,1.919,8.432,8.432,0,0,1-2.138.211H5.868c0-.023-.008-.045-.008-.045a2.988,2.988,0,0,0,.312-1.485l0-13.223V1.153H23M5.331,3.885v.184q0,5.356,0,10.709a2.1,2.1,0,0,1-.112.694.91.91,0,0,1-.835.66.95.95,0,0,1-.757-.422,2.644,2.644,0,0,1-.453-1.582c-.018-.842-.021-1.686-.024-2.527L3.132,5.327c0-.416-.006-.832-.01-1.248V3.885H5.331M23,.3H6.171a.853.853,0,0,0-.851.855V3.028h-2.2a.855.855,0,0,0-.852.857v.2l0,.425c0,.272.006.543.006.816L2.292,11.6c0,.766.007,1.657.025,2.545a3.521,3.521,0,0,0,.622,2.078,1.805,1.805,0,0,0,1.439.766,1.623,1.623,0,0,0,.87-.248.847.847,0,0,0,.619.269H18.955a9.292,9.292,0,0,0,2.349-.238,3.061,3.061,0,0,0,2.414-2.612,9.817,9.817,0,0,0,.127-1.549q.009-4.316,0-8.631V1.153A.853.853,0,0,0,23,.3"/></clipPath><clipPath id="clip-path-6" transform="translate(2.73 4.703)"><path class="cls-1" d="M9,3.474H20.22a.429.429,0,0,0,0-.858H9a.429.429,0,0,0,0,.858Z"/></clipPath><clipPath id="clip-path-8" transform="translate(2.73 4.703)"><path class="cls-1" d="M9.431,5.284H19.794V8.079H9.431ZM9,8.936H20.22a.427.427,0,0,0,.426-.428V4.856a.429.429,0,0,0-.426-.43H9a.429.429,0,0,0-.426.43V8.508A.427.427,0,0,0,9,8.936Z"/></clipPath><clipPath id="clip-path-10" transform="translate(2.73 4.703)"><path class="cls-1" d="M9,11.059h4.769a.429.429,0,0,0,0-.857H9a.429.429,0,0,0,0,.857Z"/></clipPath><clipPath id="clip-path-12" transform="translate(2.73 4.703)"><path class="cls-1" d="M15.45,11.059h4.77a.429.429,0,0,0,0-.857H15.45a.429.429,0,0,0,0,.857Z"/></clipPath><clipPath id="clip-path-14" transform="translate(2.73 4.703)"><path class="cls-1" d="M9,12.811h4.769a.428.428,0,0,0,0-.857H9a.428.428,0,0,0,0,.857Z"/></clipPath><clipPath id="clip-path-16" transform="translate(2.73 4.703)"><path class="cls-1" d="M15.45,12.811h4.77a.428.428,0,0,0,0-.857H15.45a.428.428,0,0,0,0,.857Z"/></clipPath><clipPath id="clip-path-18" transform="translate(2.73 4.703)"><path class="cls-1" d="M9.087,14.563h4.77a.429.429,0,0,0,0-.857H9.087a.429.429,0,0,0,0,.857Z"/></clipPath><clipPath id="clip-path-20" transform="translate(2.73 4.703)"><path class="cls-1" d="M15.531,14.563H20.3a.429.429,0,0,0,0-.857H15.531a.429.429,0,0,0,0,.857Z"/></clipPath></defs><title>1</title><g class="cls-3"><g class="cls-4"><g class="cls-5"><g class="cls-6"><g class="cls-7"><g class="cls-6"><rect class="cls-8" width="31.58" height="26.713"/></g></g></g></g></g></g><g class="cls-9"><g class="cls-4"><rect class="cls-8" x="6.309" y="2.318" width="22.066" height="10.858"/></g></g><g class="cls-10"><g class="cls-4"><rect class="cls-8" x="6.309" y="4.129" width="22.066" height="14.51"/></g></g><g class="cls-11"><g class="cls-4"><rect class="cls-8" x="6.309" y="9.904" width="15.621" height="10.858"/></g></g><g class="cls-12"><g class="cls-4"><rect class="cls-8" x="12.754" y="9.904" width="15.621" height="10.858"/></g></g><g class="cls-13"><g class="cls-4"><rect class="cls-8" x="6.309" y="11.657" width="15.621" height="10.857"/></g></g><g class="cls-14"><g class="cls-4"><rect class="cls-8" x="12.754" y="11.657" width="15.621" height="10.857"/></g></g><g class="cls-15"><g class="cls-4"><rect class="cls-8" x="6.39" y="13.409" width="15.622" height="10.857"/></g></g><g class="cls-16"><g class="cls-4"><rect class="cls-8" x="12.834" y="13.409" width="15.622" height="10.857"/></g></g></svg>
									<img ng-if="category.icon" src="{{category.icon}}" />
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block bold wordwrap">{{ category.name }}</span>
									<div ng-show="showDetails">
								    	<span class="avenir-book acapulco-text block wordwrap">{{ category.description }}</span>
								    	<div class="space10 right">
									    	<button class="button damask white-text" ng-click="goAmountComplaint($event,category.idcategory);">
												Seleccionar Categoría
											</button>
								    	</div>
									</div>
						    	</div>
					    	</div>
						</div>
					
					</div>
				</div>
				
			</ion-content>
			
		</ion-view>