		<ion-view view-title="Mis denuncias" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">Denuncias Atendidas</h1>
				</div>
				
				<div class="max-width">				
					<ion-list class="list complaint-list">
						<div class="space40"></div>
						<ion-item class="item" ng-repeat="complaint in complaints" ng-click="goViewComplaint(event,complaint.idcomplaint)">
							<div class="row">
						    	<div class="col col-10 pin">
							    	<img ng-if="complaint.icon == 1" style="width: 26px;" src="http://app.incorruptible.mx/img/red.png">
							    	<img ng-if="complaint.icon == 2" style="width: 26px;" src="http://app.incorruptible.mx/img/yellow.png">
							    	<img ng-if="complaint.icon == 3" style="width: 26px;" src="http://app.incorruptible.mx/img/green.png">
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block wordwrap">{{complaint.title}}</span>
							    	<span class="avenir-book font14 dark-gray-text block wordwrap">Fecha: {{formatDate(complaint.date) | date:'dd/MM/yyyy'}}&nbsp;&nbsp;Horario: <span class="uppercase">{{formatDate(complaint.date) | date:'hh:mm a'}}</span></span>
						    	</div>
					    	</div>
						</ion-item>
					</ion-list>
				</div>
				
			</ion-content>
			
		</ion-view>