		<ion-view view-title="Metadata" hide-nav-bar="false" class="new-complaint">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="new-complaint-content">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">Describe tu denuncia</h1>
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="goTitleComplaint($event)">SIGUIENTE</button>
				</div>
				
				<!--<div class="video-container">
					<iframe src="{{trustSrc(complaint_video)}}" frameborder="0" allowfullscreen></iframe>
    			</div>
				
				<ion-list>
					<div class="card">
						<ion-item>
							<div class="video-container">
								<video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
									<source src="https://s3.us-east-2.amazonaws.com/incorruptible/video/1492541772.mp4" type="video/mp4"/>
								</video>
                			</div>
						</ion-item>
						<!--<ion-item>
							<div class="video-container">
								<iframe ng-src="{{trustSrc(complaint_audio)}}" frameborder="0" width="560" height="315"></iframe>
                			</div>
						</ion-item>
						<ion-item>
							<div class="video-container">
								<iframe ng-src="{{trustSrc(complaint_image)}}" frameborder="0" width="560" height="315"></iframe>
                			</div>
						</ion-item>
        			</div>
				</ion-list>
				-->
				
			</ion-content>
			
		</ion-view>