		<ion-view view-title="Mis denuncias" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">Mis denuncias</h1>
				</div>
				
				<div class="max-width">				
					<ion-list class="list complaint-list">
						<div class="space40"></div>
						<ion-item class="item" ng-repeat="complaint in complaints" ng-click="goViewComplaint(event,complaint.idcomplaint)">
							<div class="row">
						    	<div class="col col-10 pin">
							    	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.611 17.44"><defs><style>.cls-1{fill:#d1704c;}</style></defs><title>police</title><path class="cls-1" d="M25.406,5.265a1.164,1.164,0,0,0-.615-1.772L14.241.218a4.827,4.827,0,0,0-2.87,0L.821,3.493A1.164,1.164,0,0,0,.206,5.265L4.425,11.4v1.5c-1.176.464-1.77,1.029-1.77,1.687,0,.884,1.064,1.6,3.165,2.124a30.121,30.121,0,0,0,6.986.726,30.11,30.11,0,0,0,6.984-.726c2.1-.525,3.166-1.24,3.166-2.123,0-.658-.595-1.223-1.77-1.687V11.4Zm-5.049,7.362H5.255v-.94h15.1v.94ZM11.3,5.965l-.617-1.008,1.183.03a.417.417,0,0,0,.375-.216l.565-1.039.564,1.039a.415.415,0,0,0,.375.216l1.183-.03-.617,1.008a.417.417,0,0,0,0,.434l.617,1.009-1.183-.031a.419.419,0,0,0-.375.217l-.564,1.039-.565-1.039a.415.415,0,0,0-.364-.217h-.011l-1.183.031L11.3,6.4A.412.412,0,0,0,11.3,5.965Zm13.244-1.68a.334.334,0,0,1,.177.509l-4.168,6.062H13.22V9.607l.758-1.394,1.691.043a.415.415,0,0,0,.365-.631l-.884-1.443.884-1.443a.416.416,0,0,0-.365-.632l-1.691.043L13.22,2.757V.852a4.032,4.032,0,0,1,.774.16ZM.849,4.5a.33.33,0,0,1,.218-.21l10.55-3.274A3.983,3.983,0,0,1,12.39.852V2.757l-.757,1.394L9.942,4.108a.417.417,0,0,0-.37.207.413.413,0,0,0,.006.424l.883,1.443L9.578,7.626a.414.414,0,0,0,.364.631l1.691-.043.757,1.393v1.25H5.058L.89,4.794A.333.333,0,0,1,.849,4.5Zm21.278,10.1c0,.162-.21.382-.561.59a7.808,7.808,0,0,1-1.977.728,29.31,29.31,0,0,1-6.783.7,29.329,29.329,0,0,1-6.785-.7c-2.006-.5-2.537-1.082-2.537-1.319,0-.278.58-.735,1.873-1.134h14.9C21.547,13.856,22.127,14.313,22.127,14.591Z"/><path class="cls-1" d="M12.806,7.039a.8.8,0,1,0-.8-.8A.8.8,0,0,0,12.806,7.039Z"/></svg>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block wordwrap">{{complaint.title}}</span>
							    	<span class="avenir-book font14 dark-gray-text block wordwrap">Fecha: {{formatDate(complaint.date) | date:'dd/MM/yyyy'}}&nbsp;&nbsp;Horario: <span class="uppercase">{{formatDate(complaint.date) | date:'hh:mm a'}}</span></span>
						    	</div>
					    	</div>
						</ion-item>
					</ion-list>
				</div>
				
			</ion-content>
			
		</ion-view>