		<ion-view view-title="Evidencia" hide-nav-bar="false" class="new-complaint">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="new-complaint-content" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask" style="margin-top:-60px;">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">Evidencia</h1>
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="goTitleComplaint($event)">SIGUIENTE</button>
				</div>
				
				<div class="space60"></div>
				
				<div class="max-width">
					<div class="row">
						<div class="col">
							<div class="centered">
								<span class="avenir-book damask-text font20 block">Incluye un video o una imagen principal a tu denuncia.</span>
							</div>
						</div>
					</div>
					
					<div class="space20"></div>
					
					<div class="media_source">
						
						<div class="row" ngshow="!ionic.Platform.isAndroid()">
							<div class="col btn300">
								<div class="centered damask font40 btnVideoComplaint" ng-class="{acapulco: complaintData.type == 'video'}" ng-click="showVideoActions($event)">
									<i class="fa fa-file-video-o white-text fa-lg" ng-if="complaintData.type != 'video'" aria-hidden="true"></i>
									<i class="fa fa-check white-text fa-lg" ng-if="complaintData.type == 'video'" aria-hidden="true"></i>
									<!--<img src="img/video_icon.png" />-->
									<div class="space20"></div>
									<span class="white-text font20 avenir-black block" ng-model="downloadProgress">Video</span>
									<span class="white-text font14 avenir-black block">(Máximo 10 MB)</span>
								</div>
								<input id="videoFile" style="position: absolute; top: -999999px;" ng-file-select="onVideoSelect($files)" type="file">
							</div>
						</div>
						
						<div class="space10" ng-show="!ionic.Platform.isAndroid()"></div>
						
						<div class="row">
							<div class="col btn300">
								<div class="centered damask font40 btnImageComplaint" ng-class="{acapulco: complaintData.type == 'image'}" ng-click="showImageActions($event)">
									<!--<img src="img/image_icon.png" />-->
									<i class="fa fa-file-image-o white-text fa-lg" ng-if="complaintData.type != 'image'" aria-hidden="true"></i>
									<i class="fa fa-check white-text fa-lg" ng-if="complaintData.type == 'image'" aria-hidden="true"></i>
									<div class="space20"></div>
									<span class="white-text font20 avenir-black block">Imagen</span>
									<span class="white-text font14 avenir-black block">(Máximo 2 MB)</span>
								</div>
								<input id="imageFile" style="position: absolute; top: -999999px;" ng-file-select="onImageSelect($files)" type="file">
							</div>
						</div>
					</div>
					
					<div class="space20"></div>
					
					<div class="row">
						<div class="col">
							<div class="centered">
								<span ng-if="!web" class="avenir-book damask-text font20 block">Podrás agregar documentos, más imágenes o videos después de crear la denuncia.</span>
								<span ng-if="web" class="avenir-book damask-text font20 block">Agrega más documentos, imágenes o videos a tu denuncia.</span>
							</div>
						</div>
					</div>
					
					<div class="space20"></div>
								
					<ul ng-if="web" class="list complaint-groups">
						<li class="item damask centered">
					    	<span class="avenir-heavy font14 white-text">Lista de Archivos Adjuntos</span>
					    </li>
					    <div class="item" ng-if="filesData.length == 0">
						    <span class="block font14 avenir-book black-text">No se han adjuntado archivos.</span>
					    </div>
					    <div class="item" ng-repeat="item in filesData track by $index">
							<div class="row" ng-click="showFile(item.url);">
						    	<div class="col col-10 pin">
							    	<i class="fa fa-file-o damask-text" aria-hidden="true"></i>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block wordwrap">Nombre: <b>{{ item.name }}</b></span>
							    	<span class="avenir-book acapulco-text block wordwrap">Tipo: <b>{{ item.type }}</b></span>
							    	<span class="avenir-book acapulco-text block wordwrap">Tamaño: <b>{{ item.size }} MB</b></span>
						    	</div>
					    	</div>
			            </div>
					    <div class="item" ng-if="filesData.length < 10">
						    <button class="button button-block button-positive acapulco avenir-book btn300" ng-click="addFile(filesData)">
								Agregar Archivo
							</button>
							<span class="centered damask-text font14 avenir-black block">Video: Máximo 10 MB.<br/>Imagen/Documento: Máximo 2MB.</span>
							<input id="fileComplaint" style="position: absolute; top: -999999px;" ng-file-select="onFileSelect($files,filesData)" type="file">
					    </div>
					</ul>
					
					<div class="space20"></div>
				</div>
				
			</ion-content>
			
		</ion-view>