		<ion-view view-title="Grupos de Denuncias" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>

			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="gotoDashboard($event)">REGRESAR</button>
					<h1 class="title white-text font14">Nuevos Grupos de Denuncias</h1>
					<!--<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="saveGroupComplaint(group)">GUARDAR</button>-->
				</div>
				
				<div class="max-width">
					<ion-list class="list group-list svg">
						<div class="space40"></div>
						<ion-item class="item" ng-repeat="group in groups" ng-click="goViewComplaintsGroupDependency(event,group.idgroup)">
							<div class="btn-view" ng-click="backToCategory($event)">
								<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.226 9.31"><defs><style>.cls-ver{fill:#70A291;}</style></defs><title>eyes</title><path class="cls-ver" d="M14.193,4.477c0-.012-.011-.024-.017-.036A7.838,7.838,0,0,0,.056,4.427a.494.494,0,0,0-.007.441A7.845,7.845,0,0,0,2.888,8.074a7.841,7.841,0,0,0,8.45,0,7.845,7.845,0,0,0,2.839-3.205A.489.489,0,0,0,14.193,4.477ZM7.113,8.324A6.9,6.9,0,0,1,1.044,4.655a6.854,6.854,0,0,1,12.138,0A6.9,6.9,0,0,1,7.113,8.324Z"/><path class="cls-ver" d="M7.113,2.492A2.164,2.164,0,1,0,9.276,4.655,2.166,2.166,0,0,0,7.113,2.492Zm0,3.341A1.178,1.178,0,1,1,8.291,4.655,1.18,1.18,0,0,1,7.113,5.833Z"/></svg>
							</div>
							<div class="row">
						    	<div class="col col-10 pin">
							    	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.503 27.578"><defs><style>.cls-1{fill:#d1704c;}</style></defs><title>folder</title><path class="cls-1" d="M29.353,10.561a.622.622,0,0,0-.475-.217H27.556V3.334a.872.872,0,0,0-.871-.871h-15.1L10.361.424A.875.875,0,0,0,9.613,0h-6.8a.873.873,0,0,0-.871.871v9.471H.626a.627.627,0,0,0-.475.219.62.62,0,0,0-.144.5L2.429,27.047a.622.622,0,0,0,.617.531h23.41a.624.624,0,0,0,.619-.533l2.42-15.98A.623.623,0,0,0,29.353,10.561ZM2.933.986H9.548l1.225,2.039a.872.872,0,0,0,.746.424H26.571v6.895h-.986V6.9H3.917v3.447H2.933ZM24.6,10.344H4.9V7.881H24.6Zm1.547,16.25H3.357L1.044,11.328H28.46Z"/></svg>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block wordwrap">{{group.title}}</span>
						    	</div>
					    	</div>
						</ion-item>
					</ion-list>
				</div>
				
			</ion-content>
			
		</ion-view>