		<ion-view view-title="Nuevo Grupo de Denuncias" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>

			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">Detalle de grupo</h1>
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="saveGroupComplaint(group,dependenciesSelected)">GUARDAR</button>
				</div>
				
				<div class="row comment-box">
					<div class="col">
						<div class="space40"></div>
						<span class="acapulco-text avenir-book font14">{{0+group.titulo.length}}/100</span>
						<textarea class="avenir-book acapulco-text" placeholder="Título del Grupo" ng-model="group.titulo" rows="2" ng-trim="false" maxlength="100" name="group.titulo"></textarea>
					</div>
				</div>
				
				<div class="row comment-box">
					<div class="col">
						<span class="acapulco-text avenir-book font14">{{0+group.description.length}}/280</span>
						<textarea class="avenir-book acapulco-text" placeholder="Descripción del Grupo" ng-model="group.description" rows="5" ng-trim="false" maxlength="280" name="group.description"></textarea>

					</div>
				</div>
				
				<div class="list comment-level">

					<div class="item item-divider damask white-text centered avenir-book font14">
				    	Orden de gobierno
					</div>
					
					<ion-list>
						<ion-radio class="avenir-book acapulco-text block wordwrap" ng-model="group.level" ng-value="'Estatal'" name="group.level">Estatal</ion-radio>
						<ion-radio class="avenir-book acapulco-text block wordwrap" ng-model="group.level" ng-value="'Federal'" name="group.level">Federal</ion-radio>
						<ion-radio class="avenir-book acapulco-text block wordwrap" ng-model="group.level" ng-value="'Municipal'" name="group.level">Municipal</ion-radio>
					</ion-list>
					
				</div>
				
				<div class="list comment-dependency" ng-if="dependenciesSelected.length > 0">

					<div class="item item-divider damask white-text centered avenir-book font14">
				    	Dependencias seleccionadas
					</div>
					
					<div ng-repeat="dependency in dependenciesSelected">
						<div class="row" ng-click="removeDependency(dependency,dependenciesSelected)">
							<div class="col col-90">
								<span class="avenir-book white acapulco-text block dependency">{{dependency.name}}</span>
							</div>
							<div class="col col-10 pin centered">
						    	<i class="fa fa-times-circle fa-2x damask-text" aria-hidden="true"></i>
					    	</div>
						</div>
					</div>
					
				</div>
				
				<div class="list comment-dependency">

					<div class="item item-divider damask white-text centered avenir-book font14">
				    	Dependencia correspondiente
					</div>
					
					<div class="row comment-box">
						<div class="col">
							<textarea class="avenir-book acapulco-text" placeholder="Busca la dependencia y seleccionala" ng-model="group.term" id="searchDependency" rows="1" ng-trim="false" maxlength="100" name="group.term"></textarea>
						</div>
					</div>
					
					<div ng-repeat="dependency in dependencies">
						<div class="row" ng-click="addDependency(dependency,group,dependenciesSelected)">
							<div class="col col-90">
								<span class="avenir-book white acapulco-text block dependency">{{dependency.name}}</span>
							</div>
							<div class="col col-10 pin centered">
								<i class="fa fa-plus-circle fa-2x damask-text" aria-hidden="true"></i>
					    	</div>
						</div>
					</div>
				
				</div>
				
			</ion-content>
			
		</ion-view>