		<ion-view view-title="Describe tu denuncia" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event, complaint)">REGRESAR</button>
					<h1 class="title white-text font14">Describe tu denuncia</h1>
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="goCategoryComplaint(complaint)">SIGUIENTE</button>
				</div>
				
				<div class="max-width">
					<div class="row comment-box">
						<div class="col">
							<div class="space44"></div>
							<input placeholder="Escribe aquí el título de la denuncia" class="avenir-book acapulco-text block" ng-model="complaint.title" ng-trim="true" required>
							<span class="acapulco-text avenir-book font14 block">{{0+complaint.description.length}}/140</span>
							<textarea placeholder="Escribe aquí un comentario" class="avenir-book acapulco-text block" ng-model="complaint.description" rows="5" ng-trim="true" maxlength="140" required></textarea>
						</div>
					</div>
					<div class="row complaint-location">
						<div class="col">
							<div class="centered padding-1rem-sides">
								<span class="avenir-book font14 french-gray-text block">Identificamos que tu denuncía es en:</span>
								<span class="avenir-book font14 black-text block padding-1rem-sides" ng-model="address">{{address}}</span>
								<span class="avenir-book font14 french-gray-text block">Si no es así, corrigela a continuación:</span>
								<div class="list list-inset">
									<label class="item item-input">
								    	<i class="icon ion-ios-location-outline placeholder-icon damask-text"></i>
										<input type="text" ng-focus="disableTap()" class="avenir-book font14" id="searchPlace" ng-click="clearInput()" places-auto-complete types="['geocode']" on-place-changed="placeMarker(map)" placeholder="Ingresa aquí la dirección correcta">
									</label>
								</div>
								<span class="avenir-heavy acapulco-text block">Mantén seleccionada la dirección que buscas</span>
							</div>
						</div>
					</div>
					
					<div id="map_canvas" data-tap-disabled="true">
					    <ui-gmap-google-map ng-if="map.center" options="map.options" center="map.center" zoom="map.zoom">
					    	<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
					    </ui-gmap-google-map>
					</div>
				</div>
				
			</ion-content>
			
		</ion-view>