		<ion-view view-title="Nueva Denuncia" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">{{complaint.title}}</h1>
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="sendComplaint($event)">ENVIAR</button>
				</div>
				
				<div class="max-width">
					<div class="container-detail">
						<div class="detail" ng-click="showMedia($event)">
							<div ng-show="complaint.video" class="video-player">
								<div class="cover"></div>
								<img class="play" src="img/play.svg">
								<video>
									<source src="{{complaint.video}}">
								</video>
							</div>
							<div ng-show="complaint.audio" class="audio-player">
								<img class="play" src="img/play.svg">
								<audio id="audio-player">
									<source src="{{complaint.audio}}">
								</audio>
							</div>
							<div ng-show="complaint.image" class="image-player">
								<img src="{{complaint.image}}">
							</div>
						</div>
					</div>
					
					<ul class="list complaint-data">
					    <li class="item location">
					    	<div class="row">
						    	<div class="col col-10 pin">
							    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:white;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:white;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book font14 white-text wordwrap">{{ complaint.address }}</span>
						    	</div>
					    	</div>
					    </li>
					    <!--
					    <li class="item actions">
					    	<div class="button-bar">
								<a class="button button-clear white-text font14">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>persona</title><path style="fill:white;" d="M6.923,10.852H3.87A3.733,3.733,0,0,0,.129,14.52c-.113.611-.268,1.682.114,2.063,1.029.995,3.359,1.375,5.152,1.375,1.832,0,4.122-.38,5.152-1.375.381-.381.23-1.451.113-2.062A3.75,3.75,0,0,0,6.923,10.852Zm3.133,5.157c-.725.724-2.521,1.184-4.617,1.184s-3.932-.46-4.617-1.148c-.076-.153-.443-4.3,3.053-4.469.795-.041,3.094,0,3.094,0,3.426,0,3.166,4.32,3.088,4.434Z"/><path style="fill:white;" d="M5.358,10.162a3.019,3.019,0,0,0,0-6.039,3.048,3.048,0,0,0-3.016,3.02A3,3,0,0,0,5.358,10.162Zm0-5.273A2.29,2.29,0,0,1,7.649,7.143a2.291,2.291,0,0,1-4.582,0A2.292,2.292,0,0,1,5.358,4.889Z"/><path style="fill:white;" d="M8.872,0V5.542h1.184V8.254l2.713-2.712h5.188V0Zm8.359,4.816H12.5L10.818,6.5V4.816H9.635V.768h7.6Z"/><path style="fill:white;" d="M13.34,1.834a.2.2,0,0,1,.19-.114.421.421,0,0,1,.154.036.576.576,0,0,1,.076.23.326.326,0,0,1-.076.232l-.3.344a2.913,2.913,0,0,0-.191.268.776.776,0,0,0-.036.3v.344h.688v-.3c0-.077,0-.155.036-.19l.154-.154.23-.23c0-.037.037-.078.078-.114s.076-.077.076-.114c.037,0,.037-.037.076-.114.037-.038.037-.155.037-.268a.78.78,0,0,0-.268-.648,1.089,1.089,0,0,0-.725-.231,1.009,1.009,0,0,0-.727.268,1.113,1.113,0,0,0-.344.725h.762a1.3,1.3,0,0,1,.11-.269Z"/><path style="fill:white;" d="M13.53,3.629a.428.428,0,0,0-.3.114.433.433,0,0,0-.113.3.427.427,0,0,0,.113.3.377.377,0,0,0,.3.114.429.429,0,0,0,.3-.114.434.434,0,0,0,.113-.3.427.427,0,0,0-.113-.3A.451.451,0,0,0,13.53,3.629Z"/></svg>
									<br/>Denunciar anonimo
								</a>
								<a class="button button-clear white-text font14" ng-click="showSocialShareActions($event)">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.127 16.226"><title>share</title><path style="fill:white;" d="M10.433,11.532a2.812,2.812,0,0,0-.376.47L5.3,9.117a2.726,2.726,0,0,0,0-2.031l4.754-2.863a2.745,2.745,0,1,0-.432-1.471,2.717,2.717,0,0,0,.184.978L5.051,6.6a2.751,2.751,0,1,0,0,3.01L9.809,12.5a2.767,2.767,0,0,0-.182.982,2.75,2.75,0,1,0,.806-1.945ZM12.377.55a2.2,2.2,0,1,1-2.2,2.2A2.2,2.2,0,0,1,12.377.55ZM2.751,10.3a2.2,2.2,0,1,1,2.2-2.2A2.2,2.2,0,0,1,2.751,10.3Zm11.182,4.73a2.2,2.2,0,1,1,.645-1.555A2.2,2.2,0,0,1,13.933,15.032Z"/></svg>
									<br />Compartir
								</a>
							</div>
					    </li>
					    <li class="item">
					    	<span class="avenir-book font14 white-text block">*Actualmente esta denuncia la siguen 25 usuarios.</span>
					    	<span class="avenir-book font14 white-text block">*Esta denuncia es seguida por 34 usuarios</span>
					    </li>
					    -->
					</ul>
					
					<ul class="list complaint-extra-data" id="category-data">
						<li class="item acapulco centered">
							<div class="btn-complaint" ng-click="backToCategory($event)">
								<i class="fa fa-pencil white-text" aria-hidden="true"></i>
							</div>
					    	<span class="avenir-heavy font14 white-text">{{ complaint.categoryName }}</span>
					    </li>
					    <li class="item acapulco centered">
					    	<div class="btn-complaint" ng-click="backToAmount($event)">
								<i class="fa fa-pencil white-text" aria-hidden="true"></i>
							</div>
					    	<span class="avenir-heavy font14 white-text">{{ complaint.amountValue }}</span>
					    </li>
					    <li class="item acapulco centered">
					    	<div class="btn-complaint" ng-click="backToTitle($event)">
								<i class="fa fa-pencil white-text" aria-hidden="true"></i>
							</div>
					    	<span class="avenir-book font14 white-text wordwrap">{{ complaint.description }}</span>
							<div class="space60"></div>
					    </li>
					</ul>
				</div>
				
			</ion-content>
			
		</ion-view>