		<ion-view view-title="Detalle de Grupo" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>

			<ion-content overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<!--<h1 class="title white-text font14">Grupos de Denuncias</h1>-->
					<button class="button button-clear avenir-book brown white-text font14 button-right" ng-click="sendGroup(group)">ENVIAR AUTORIDADES</button>
				</div>
				
				<div class="max-width">
					<div class="map_group">
						<img src="{{group.map}}" />
					</div>
					
					<ul class="list complaint-extra-data">
						<div class="item black centered">
							<span class="avenir-black font20 white-text wordwrap uppercase">{{group.title}}</span>
						</div>
						<li class="item acapulco">
					    	<span class="avenir-book font14 white-text">{{group.description}}</span>
					    </li>
					    <li class="item acapulco">
					    	<span class="avenir-book font14 white-text wordwrap">Suma de denuncias del grupo: <b>{{group.sum | currency:"$":0 }}</b></span>
					    </li>
					</ul>
					
					<ul class="list complaint-groups">
						<li class="item damask centered">
					    	<span class="avenir-heavy font14 white-text">Denuncias ligadas a este grupo</span>
					    </li>
					</ul>
					
					<div ng-repeat="complaint in group.complaints">
						<div class="row">
							<div class="col col-10 pin">
						    	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><defs><style>.cls-1{fill:#B96F4F;}</style></defs><title>persona</title><path class="cls-1" d="M6.923,10.852H3.87A3.733,3.733,0,0,0,.129,14.52c-.113.611-.268,1.682.114,2.063,1.029.995,3.359,1.375,5.152,1.375,1.832,0,4.122-.38,5.152-1.375.381-.381.23-1.451.113-2.062A3.75,3.75,0,0,0,6.923,10.852Zm3.133,5.157c-.725.724-2.521,1.184-4.617,1.184s-3.932-.46-4.617-1.148c-.076-.153-.443-4.3,3.053-4.469.795-.041,3.094,0,3.094,0,3.426,0,3.166,4.32,3.088,4.434Z"/><path class="cls-1" d="M5.358,10.162a3.019,3.019,0,0,0,0-6.039,3.048,3.048,0,0,0-3.016,3.02A3,3,0,0,0,5.358,10.162Zm0-5.273A2.29,2.29,0,0,1,7.649,7.143a2.291,2.291,0,0,1-4.582,0A2.292,2.292,0,0,1,5.358,4.889Z"/><path class="cls-1" d="M8.872,0V5.542h1.184V8.254l2.713-2.712h5.188V0Zm8.359,4.816H12.5L10.818,6.5V4.816H9.635V.768h7.6Z"/><path class="cls-1" d="M13.34,1.834a.2.2,0,0,1,.19-.114.421.421,0,0,1,.154.036.576.576,0,0,1,.076.23.326.326,0,0,1-.076.232l-.3.344a2.913,2.913,0,0,0-.191.268.776.776,0,0,0-.036.3v.344h.688v-.3c0-.077,0-.155.036-.19l.154-.154.23-.23c0-.037.037-.078.078-.114s.076-.077.076-.114c.037,0,.037-.037.076-.114.037-.038.037-.155.037-.268a.78.78,0,0,0-.268-.648,1.089,1.089,0,0,0-.725-.231,1.009,1.009,0,0,0-.727.268,1.113,1.113,0,0,0-.344.725h.762a1.3,1.3,0,0,1,.11-.269Z"/><path class="cls-1" d="M13.53,3.629a.428.428,0,0,0-.3.114.433.433,0,0,0-.113.3.427.427,0,0,0,.113.3.377.377,0,0,0,.3.114.429.429,0,0,0,.3-.114.434.434,0,0,0,.113-.3.427.427,0,0,0-.113-.3A.451.451,0,0,0,13.53,3.629Z"/></svg>
					    	</div>
							<div class="col col-70">
								<span class="avenir-book white acapulco-text block">{{complaint.title}}</span>
							</div>
							<div class="col col-10 pin centered" ng-click="goViewComplaint(complaint)">
						    	<i class="fa fa-eye fa-2x damask-text" aria-hidden="true"></i>
					    	</div>
					    	<div class="col col-10 pin centered" ng-click="deleteComplaintGroup(complaint, group)">
						    	<i class="fa fa-trash fa-2x damask-text" aria-hidden="true"></i>
					    	</div>
						</div>
					</div>
					
					<ul class="list">
						<li class="item damask centered">
					    	<span class="avenir-heavy font14 white-text">Dependencias ligadas a este grupo</span>
					    </li>
					</ul>
					
					<div ng-repeat="dependency in group.dependencies">
						<div class="row">
							<div class="col col-10 pin centered">
						    	<i class="fa fa-building-o fa-2x damask-text" aria-hidden="true"></i>
					    	</div>
							<div class="col col-90">
								<span class="avenir-book white acapulco-text block dependency">{{dependency.name}}</span>
							</div>
						</div>
					</div>
				</div>
				
			</ion-content>
			
		</ion-view>