		<ion-view view-title="Mis denuncias" hide-nav-bar="false" class="">

			<ion-nav-title ng-click="gotoDashboard(event)">
		    	<img src="img/logo.svg">
		    </ion-nav-title>
		    
			<ion-content class="" overflow-scroll="true">
			
				<div class="bar bar-stable bar-damask">
					<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="backNav($event)">REGRESAR</button>
					<h1 class="title white-text font14">{{complaint.title}}</h1>
					<button ng-if="session.idprofile != 1" class="button button-clear avenir-book brown white-text font14 button-right" ng-click="saveComplaintStatus(complaint, statusComplaint)">GUARDAR</button>
				</div>
				
				<div class="max-width">
					<div class="container-detail">
						<div class="detail" ng-if="(complaint.iduser == session.iduser) || (session.idprofile != 1)" ng-click="showMedia($event)">
							<div ng-show="complaint.video" class="video-player">
								<div class="cover"></div>
								<img class="play" src="img/play.svg">
								<video>
									<source src="{{complaint.video}}">
								</video>
							</div>
							<div ng-show="complaint.audio" class="audio-player">
								<img class="play" src="img/play.svg">
								<audio id="audio-player">
									<source src="{{complaint.audio}}">
								</audio>
							</div>
							<div ng-show="complaint.image" class="image-player">
								<img src="{{complaint.image}}">
							</div>
						</div>
					</div>
					
					<ul class="list complaint-data">
					    <li class="item location">
					    	<div class="row">
						    	<div class="col col-10 pin">
							    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.957 17.957"><title>pin2</title><path style="fill:white;" d="M9.953,5.45A1.65,1.65,0,1,0,11.6,7.1,1.652,1.652,0,0,0,9.953,5.45Zm0,2.83a1.179,1.179,0,1,1,1.18-1.18A1.181,1.181,0,0,1,9.953,8.28Z"/><path style="fill:white;" d="M13.108,3.945a4.521,4.521,0,0,0-6.394,0A5.151,5.151,0,0,0,6.289,10.3l3.623,5.231,3.615-5.224A5.151,5.151,0,0,0,13.108,3.945Zm.038,6.086L9.912,14.7l-3.24-4.679a4.654,4.654,0,0,1,.377-5.745,4.049,4.049,0,0,1,5.727,0A4.656,4.656,0,0,1,13.146,10.031Z"/></svg>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book font14 white-text wordwrap">{{ complaint.address }}</span>
						    	</div>
					    	</div>
					    </li>
					    <li class="item actions" ng-if="session.idprofile == 1">
					    	<div class="button-bar">
								<a class="button button-clear white-text font14" ng-click="shareComplaintFB(complaint)">
									<i class="fa fa-facebook" aria-hidden="true"></i>
									<br/>Compartir
								</a>
								<a class="button button-clear white-text font14" ng-click="shareComplaintTW(complaint)">
									<i class="fa fa-twitter" aria-hidden="true"></i>
									<br />Compartir
								</a>
							</div>
					    </li>
					    <li class="item centered">
					    	<span class="avenir-book font14 white-text block">A esta denuncia se han unido {{complaint.comments}} personas.</span>
					    	<span class="avenir-book font14 white-text block">A esta denuncia la siguen {{complaint.follows}} personas.</span>
					    </li>
					</ul>
					
					<ul class="list complaint-extra-data">
						<div class="item actions damask" ng-if="session.idprofile == 1">
					    	<div class="button-bar">
								<a class="button button-clear white-text" ng-click="joinComplaint(complaint.idcomplaint)">
									<svg class="inline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13.2 13.2" xml:space="preserve"><title>1</title><path style="fill:#FFF;" d="M6.6,0C3,0,0,3,0,6.6s3,6.6,6.6,6.6c3.6,0,6.6-3,6.6-6.6C13.2,3,10.3,0,6.6,0z M6.6,12.4c-3.2,0-5.7-2.6-5.7-5.7s2.6-5.7,5.7-5.7c3.2,0,5.7,2.6,5.7,5.7C12.3,9.8,9.8,12.3,6.6,12.4z"/><path style="fill:#FFF;" d="M9.2,6.2H7V4c0-0.2-0.2-0.4-0.4-0.4C6.4,3.5,6.2,3.7,6.2,4v2.2H4c-0.2,0-0.4,0.2-0.4,0.4C3.5,6.8,3.7,7,4,7h2.2v2.2c0,0.2,0.2,0.4,0.4,0.4C6.8,9.7,7,9.5,7,9.2V7h2.2c0.2,0,0.4-0.2,0.4-0.4C9.7,6.4,9.5,6.2,9.2,6.2L9.2,6.2z"/></svg>
									<span class="avenir-book inline">UNIRTE</span> 
								</a>
								<a class="button button-clear white-text" ng-click="showConfirmFollow(complaint.idcomplaint,session.iduser)">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12.6 14.1" style="enable-background:new 0 0 12.6 14.1;" xml:space="preserve"><title>follow</title><path style="fill:#FFF;" d="M11.6,10.7l-1.3-1.3c-0.1-0.1-0.3-0.1-0.3,0c-0.1,0.1-0.1,0.3,0,0.3l0.9,0.9H7.3c-0.1,0-0.2,0.1-0.2,0.2s0.1,0.2,0.2,0.2h3.5L9.9,12c-0.1,0.1-0.1,0.3,0,0.3c0.1,0.1,0.3,0.1,0.3,0l1.3-1.3C11.7,11,11.7,10.8,11.6,10.7C11.6,10.7,11.6,10.7,11.6,10.7z"/><path style="fill:#FFF;" d="M5.2,6.8c0.9-0.1,1.7-0.6,2.1-1.3C7.9,4.8,8.2,3.9,8.2,3c0-1.7-1.3-3-3-3s-3,1.3-3,3c0,0.9,0.3,1.8,0.9,2.5C3.5,6.3,4.3,6.8,5.2,6.8z M5.2,0.5c1.4,0,2.5,1.1,2.5,2.5c0,0.8-0.3,1.6-0.8,2.2C6.6,5.9,6,6.3,5.2,6.4C4.5,6.3,3.8,5.9,3.5,5.2C3,4.6,2.7,3.8,2.7,3C2.7,1.6,3.8,0.5,5.2,0.5z"/><path style="fill:#FFF;" d="M6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8C6.5,12.7,6.5,12.7,6.5,12.8c-0.1-0.2-0.3-0.2-0.4-0.1C6,12.8,6,12.9,6.1,13c0.1,0.1,0.3,0.1,0.3,0C6.5,13,6.5,12.9,6.5,12.8C6.5,12.8,6.5,12.8,6.5,12.8z"/><path style="fill:#FFF;" d="M9.4,7.7L9.4,7.7C8.8,7.1,8.2,6.6,7.5,6.3c-0.1,0-0.2,0-0.3,0C6.7,6.9,6,7.2,5.2,7.2c-0.7,0-1.5-0.3-2-0.9C3.2,6.3,3.1,6.3,3,6.3C1.2,7.2,0,9,0,11l0,0c0,0.1,0,0.1,0.1,0.2c1.4,1.3,3.2,2,5.1,2c0.1,0,0.2,0,0.3,0c0.1,0,0.2-0.1,0.2-0.3c0-0.1-0.1-0.2-0.3-0.2c-0.1,0-0.2,0-0.3,0c-1.7,0-3.4-0.6-4.7-1.8c0-1.7,1-3.3,2.6-4.1c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9c0.5,0.3,0.9,0.6,1.3,1c-1.7,0.4-2.8,2-2.5,3.8c0.4,1.7,2,2.8,3.8,2.5s2.8-2,2.5-3.8C12.2,8.8,10.9,7.7,9.4,7.7L9.4,7.7z M9.4,13.6c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7C12.1,12.4,10.8,13.6,9.4,13.6L9.4,13.6z"/></svg>
									<span class="avenir-book inline">SEGUIMIENTO</span>
								</a>
							</div>
						</div>
						<ul class="list" style="margin-bottom: 0px;">
							<li class="item damask centered">
						    	<span class="avenir-heavy font14 white-text">
						    		Status de la Denuncia: {{showStatus(complaint.status)}}
						    	</span>
						    </li>
						</ul>
						<div class="item actions" ng-if="session.idprofile >= 2">
							<div class="list">
								<label class="item item-input item-select">
									<div class="input-label">
										Cambiar Status Denuncia
									</div>
									<select ng-model="complaint.status" ng-change="updateSubStatus(complaint)">
										<option value="0">Por definir</option>
										<option value="3">Resuelta</option>
										<option value="4">Desechada</option>
										<option value="7">En proceso</option>
										<option value="9">No competente</option>
									</select>
								</label>
							</div>
						</div>
						<div class="item actions" ng-if="complaint.status == 3">
							<div class="list">
								<label class="item item-input item-select">
									<div class="input-label">
										Resolución Actual
									</div>
									<select ng-model="complaint.substatus">
										<option value="0">Por definir</option>
										<option value="5">Sentencia condenatoria</option>
										<option value="6">Sentencia absolutoria</option>
										<option value="7">Pendiente de sentencia</option>
										<option value="8">Incumplimiento de sentencia</option>
									</select>
								</label>
							</div>
						</div>
						<div class="item actions" ng-if="complaint.status == 7">
							<div class="list">
								<label class="item item-input item-select">
									<div class="input-label">
										Status Proceso
									</div>
									<select ng-model="complaint.substatus">
										<option value="0">Por definir</option>
										<option value="1">En trámite</option>
										<option value="2">En Investigación</option>
										<option value="3">Pasa a judicialización</option>
										<option value="8">En juicio</option>
									</select>
								</label>
							</div>
						</div>
						<li class="item acapulco centered">
					    	<span class="avenir-heavy font14 white-text">{{complaint.category}}</span>
					    </li>
					    <li class="item acapulco centered">
					    	<span class="avenir-heavy font14 white-text">{{complaint.amount}}</span>
					    </li>
					    <li class="item acapulco" ng-if="complaint.description.length > 0">
					    	<span class="avenir-book font14 white-text wordwrap">{{complaint.description}}</span>
					    </li>
					</ul>
					
					<ul class="list complaint-comments" ng-if="complaint.comments_data.length > 0">
						<div class="item damask centered">
							<span class="avenir-heavy font14 white-text block">Usuarios unidos a esta denuncia.</span>
						</div>
						<div class="item" ng-repeat="item in complaint.comments_data track by $index">
							<span class="block font14 avenir-book"><b>Fecha:</b> {{formatDate(complaint.date) | date: "dd MMMM 'de' y"}}</span>
							<span class="block font14 avenir-book"><b>Cantidad:</b> {{item.amount}}</span>
							<span class="block font14 avenir-book"><b>Comentario:</b> {{item.text}}</span>
			            </div>
					</ul>
					
					<ul class="list complaint-comments" ng-if="session.idprofile == 2">
						<div class="item damask centered">
							<span class="avenir-heavy font14 white-text block">Información Pública</span>
						</div>
						<div class="row notification-form" ng-if="session.idprofile == 2">
							<div class="col centered">
								<span class="acapulco-text avenir-book font14 block right">Título Público - {{0+complaint.public_title.length}}/64</span>
								<textarea placeholder="Escribe aquí el título de la notificación" class="avenir-book acapulco-text block" ng-model="complaint.public_title" rows="2" ng-trim="true" maxlength="64" required></textarea>
								<span class="acapulco-text avenir-book font14 block right">Descripción Pública - {{0+complaint.public_description.length}}/140</span>
								<textarea placeholder="Escribe aquí la descripción de la notificación" class="avenir-book acapulco-text block" ng-model="complaint.public_description" rows="6" ng-trim="true" maxlength="140" required></textarea>
							</div>
						</div>
					</ul>
					
					<ul class="list complaint-groups" ng-if="complaint.groups_data.length > 0">
						<li class="item damask centered">
					    	<span class="avenir-heavy font14 white-text">Actualizaciones de la denuncia</span>
					    </li>
					    <div class="item" ng-repeat="item in complaint.groups_data track by $index">
							<span class="block font14 avenir-book"><b>Grupo:</b> {{item.title}}</span>
							<span class="block font14 avenir-book"><b>Nivel:</b> {{item.level}}</span>
							<br/>
							<span class="block font14 avenir-book"><b>Dependencias:</b></span>
							<div ng-repeat="dependency in item.dependencies">
								<div class="row">
									<div class="col col-10 pin centered">
								    	<i class="fa fa-building-o fa-2x damask-text" aria-hidden="true"></i>
							    	</div>
									<div class="col col-90">
										<span class="avenir-book white acapulco-text block wordwrap">{{dependency.name}}</span>
									</div>
								</div>
							</div> 
							<br/>
							<span class="block font14 avenir-book" ng-if="!complaint.groups_data.updates.length"><b>Actualizaciones:</b> Ninguna por el momento.</span>
			            </div>
					</ul>
					
					<ul class="list complaint-groups" ng-if="(complaint.iduser == session.iduser) || (session.idprofile != 1)">
						<li class="item damask centered">
					    	<span class="avenir-heavy font14 white-text">Lista de Archivos Adjuntos</span>
					    </li>
					    <div class="item" ng-if="complaint.files_data.length == 0">
						    <span class="block font14 avenir-book black-text">No se han adjuntado archivos.</span>
					    </div>
					    <div class="item" ng-repeat="item in complaint.files_data track by $index">
							<div class="row" ng-click="showFile(item.url);">
						    	<div class="col col-10 pin">
							    	<i class="fa fa-file-o damask-text" aria-hidden="true"></i>
						    	</div>
						    	<div class="col col-90 text">
							    	<span class="avenir-book acapulco-text block wordwrap">Nombre: <b>{{ item.name }}</b></span>
							    	<span class="avenir-book acapulco-text block wordwrap">Tipo: <b>{{ item.type }}</b></span>
							    	<span class="avenir-book acapulco-text block wordwrap">Tamaño: <b>{{ item.size }} MB</b></span>
						    	</div>
					    	</div>
			            </div>
					    <div class="item" ng-if="(complaint.iduser == session.iduser && complaint.files_data.length < 10) || session.idprofile == 3">
						    <button class="button button-block button-positive acapulco avenir-book btn300" ng-click="addFile(complaint)">
								Agregar Archivo
							</button>
							<input id="fileComplaint" style="position: absolute; top: -999999px;" ng-file-select="onFileSelect($files,complaint)" type="file">
					    </div>
					</ul>
					
					<ul class="list complaint-comments" ng-if="(complaint.iduser == session.iduser) || (session.idprofile == 3)">
						<div class="item damask centered">
							<span class="avenir-heavy font14 white-text block">Mensajes Autoridad - Denunciante</span>
						</div>
						<div class="item no-padding" ng-repeat="item in complaint.messages_data track by $index">
							<div class="row" ng-if="complaint.iduser != item.owner">
								<div class="col col-80" ng-if="item.type == 'message'">
									<div class="card message-box">
										<div ng-if="(item.message)" class="item item-text-wrap acapulco white-text">
									    	{{item.message}}
									    	<br />
									    	<span class="right italic font12">{{item.createdAt}}</span>
									    	<br />
										</div>
									</div>
								</div>
								<div class="col" ng-if="item.type == 'form'">
									<span class="avenir-book white acapulco-text block wordwrap message">La Autoridad solicita la siguiente información:</span>
									<div compile="item.message"></div>
								</div>
							</div>
							<div class="row no-padding" ng-if="complaint.iduser == item.owner">
								<div class="col col-20">&nbsp;</div>
								<div class="col col-80">
									<div class="card message-box">
										<div class="item item-text-wrap damask white-text">
									    	{{item.message}}
									    	<br />
									    	<span class="right italic font12">{{item.createdAt}}</span>
									    	<br />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="complaint.messages_data.length == 0">
							<div class="col">
								<span ng-if="session.idprofile < 3" class="acapulco-text avenir-book font14 block">La autoridad debe empezar la comunicación.</span>
								<span ng-if="session.idprofile == 3" class="acapulco-text avenir-book font14 block">Aún no has enviado mensajes al denunciante.</span>
							</div>
						</div>
						<div class="row notification-form" ng-if="session.idprofile == 3">
							<div class="col centered">
								<span class="acapulco-text avenir-book font14 block right">{{0+message.message.length}}/255</span>
								<textarea placeholder="Escribe aquí el mensaje a enviar" class="avenir-book acapulco-text block" ng-model="message.message" rows="6" ng-trim="true" maxlength="255" required></textarea>
								<button class="button button-block button-positive acapulco avenir-book btn300" ng-click="addMessage(message,complaint)">
									Enviar Mensaje
								</button>
								<button class="button button-block button-positive damask avenir-book btn300" ng-click="openModal(complaint)">
									Crear Formulario
								</button>
							</div>
						</div>
						<div class="row notification-form" ng-if="session.iduser == complaint.iduser && complaint.messages_data.length > 0">
							<div class="col centered">
								<span class="damask-text avenir-book font14 block right">{{0+response.message.length}}/255</span>
								<textarea placeholder="Escribe aquí la respuesta a enviar" class="avenir-book damask-text block" ng-model="response.message" rows="6" ng-trim="true" maxlength="255" required style="border-color: #B96F4F;"></textarea>
								<button class="button button-block button-positive damask avenir-book btn300" ng-click="addResponseMessage(response,complaint)">
									Responder Mensaje
								</button>
							</div>
						</div>
					</ul>
					
					<ul class="list complaint-comments">
						<div class="item damask centered">
							<span class="avenir-heavy font14 white-text block">Notificaciones Registradas</span>
						</div>
						<div class="item" ng-repeat="item in complaint.notifications_data track by $index">
							<div class="row">
								<div class="col col-10 centered">
									<i ng-if="item.source == 'Admin'" class="fa fa-thumbs-o-up fa-2x damask-text" aria-hidden="true"></i>
									<i ng-if="item.source == 'ONG'" class="fa fa-building-o fa-2x damask-text" aria-hidden="true"></i>
									<i ng-if="item.source == 'AUTORIDAD'" class="fa fa-shield fa-2x damask-text" aria-hidden="true"></i>
							    	<i ng-if="item.source == 'Incorruptible'" class="fa fa-mobile fa-2x damask-text" aria-hidden="true"></i>
						    	</div>
								<div class="col col-90">
									<span class="avenir-book white acapulco-text block wordwrap message">{{item.title}}</span>
									<span class="avenir-book white damask-text block wordwrap right">{{item.timeago}}</span>
								</div>
							</div>
						</div>
						<div class="row" ng-if="complaint.notifications_data.length == 0">
							<div class="col">
								<span class="acapulco-text avenir-book font14 block">No existen notificaciones en esta denuncia aún.</span>
							</div>
						</div>
						<div class="row notification-form" ng-if="session.idprofile != 1">
							<div class="col centered">
								<span class="acapulco-text avenir-book font14 block right">{{0+notification.title.length}}/64</span>
								<textarea placeholder="Escribe aquí el título de la notificación" class="avenir-book acapulco-text block" ng-model="notification.title" rows="2" ng-trim="true" maxlength="64" required></textarea>
								<span class="acapulco-text avenir-book font14 block right">{{0+notification.description.length}}/255</span>
								<textarea placeholder="Escribe aquí la descripción de la notificación" class="avenir-book acapulco-text block" ng-model="notification.description" rows="6" ng-trim="true" maxlength="255" required></textarea>
								<button class="button button-block button-positive acapulco avenir-book btn300" ng-click="addNotification(notification,complaint)">
									Enviar Notificación
								</button>
							</div>
						</div>
					</ul>
					
				</div>
				
			</ion-content>
			
			<script id="form.html" type="text/ng-template">
				<ion-modal-view>
					<ion-header-bar class="bar-damask">
						<button class="button button-clear avenir-book brown white-text font14 button-left" ng-click="closeModal($event)">REGRESAR</button>
						<h1 class="title">Creación de Formulario</h1>
						<button id="saveForm" class="button button-clear avenir-book brown white-text font14 button-right" ng-click="saveForm(complaint,form)">ENVIAR</button>
					</ion-header-bar>
					<ion-content>
						<div class="row">
							<div class="col">
								<div class="list" ng-repeat="row in form track by $index">
									<label class="item item-input">
										<input type="text" ng-model="row.name" name="" value="" placeholder="Nombre del Campo">
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col col-50">
								<button class="button button-block button-positive acapulco avenir-book" ng-click="addNewChoice()">
									Agregar Campo
								</button>
							</div>
							<div class="col col-50">
								<button class="button button-block button-positive damask avenir-book" ng-click="removeNewChoice()">
									Eliminar Campo
								</button>
							</div>
						</div>
					</ion-content>
				</ion-modal-view>
			</script>
			
		</ion-view>